<% form_tag({:action => 'report'}, 
	:id => 'custom_report_conditions', 
	:target => "Results", 
	:onsubmit => "window.open('',this.target,'resizable=1,scrollbars=1,height=600,width=800');return true;") do 
%>
	<div id="criteria">
		<h3 class="selected" id="location_trigger"><%= ll(:odamap, :locations) %></h3>
		<div class="default" id="location_container">
			<span id="locations_help"><%= ll(:odamap, :add_remove) %></span>
			<div id="loading"><img src="/images/loading2.gif" /></div>
			<ul id="locations"></ul>
			<span class="next"><a onclick="$(this).parent().parent().next('h3').click(); return false;" href="#"><%= ll(:odamap, :next_step) %>...</a></span>
		</div>
		
		<h3><%= ll(:terms, :donor) %></h3>
		<div>
			<ul class="checkbox_container">
				<li class="all"><%= check_box "donors", "all", :checked => 'checked' %><%= ll(:options, :all) %></a>
				<%= render :partial => "reports/query_options/donor", :collection => Donor.main.ordered.all %>
			</ul>
			<span class="next"><a onclick="$(this).parent().parent().next('h3').click(); return false;" href="#"><%= ll(:odamap, :next_step) %>...</a></span>
		</div>
		
		
		<h3><%= ll(:terms, :dac_sector) %></h3>
		<div>
			<ul class="checkbox_container">
				<li class="all"><%= check_box "crs_sectors", "all", :checked => 'checked' %><%= ll(:options, :all) %></a>
			  	<%= render :partial => "reports/query_options/sector", :collection => DacSector.find(:all, :order => "code ASC"), :locals => { :shorten_to => 35 } %>
			</ul>
			<span class="next"><a onclick="$(this).parent().parent().next('h3').click(); return false;" href="#"><%= ll(:odamap, :next_step) %>...</a></span>
		</div>
		
		
		<h3><%= ll(:reports, :toa) %></h3>
		<div>
			<ul class="checkbox_container">
				<li class="all"><%= check_box "type_of_aid", "all", :checked => 'checked' %><%= ll(:options, :all) %></a>
		  		<%= render :partial => "reports/query_options/type_of_aid", :collection => TypeOfAid.all %>
			</ul>
			<span class="next"><a onclick="$(this).parent().parent().next('h3').click(); return false;" href="#"><%= ll(:odamap, :next_step) %>...</a></span>
		</div>
		
		
		<h3 class="last"><%= ll(:reports, :status) %></h3>
		<div>
			<ul class="checkbox_container">
				<%= render :partial => "reports/query_options/status", :collection => translate_options(Project::STATUS_OPTIONS) %>
			</ul>
		</div>
	</div>
	
	<div style="text-align: center">
		<INPUT id="submit_button" type="submit" name="query_button" value="<%= ll(:reports, :custom, :query_database) %>" class="bt" style="margin-top: 20px; width: 200px">
	</div>
<% end %>