<h2><%= lc(:title) %></h2>

<table>
	<% if @donors.blank? %>
		<tr><td class="empty"><%= lc(:empty) %></td></tr>
	<% else %>
		<tr>
			<th><%= ll(:donor, :name) %></th>
			<th><%= ll(:donor, :cofunding_only) %></th>
			<th><%= ll(:donor, :currency) %></th>
			<th> </th>
			<th> </th>	
			<th> </th>		
		</tr>
		<% for donor in @donors %> 
			<tr>
				<td><%= donor.name %></td>
				<td><%= donor.cofunding_only ? "yes" : "no" %></td>
				<td><%= null_to_na(donor.currency) %></td>
				<td><%= link_to ll(:actions, :edit), edit_donor_path(donor) %></td>
				<td><%= link_to lc(:agencies, :total => donor.agencies.size), 
						donor_agencies_path(donor) unless donor.cofunding_only? %></td>
				<td><%= link_to lc(:logins), donor_users_path(donor) unless donor.cofunding_only? %></td>
			</tr>
		<% end %>
	<% end %>
</table>

<p><b><%= link_to lc(:new), new_donor_path %></b></p>
