<div class="project_factsheet">
	<h3><%= header lc(:title, :donor => @donor.name) %></h3>
		
	<dl class="main_details">
		<dt class="first"><%= Donor.human_attribute_name('name') %></dt>
		<dd class="first"><%= @donor.name %></dd>
		
		<dt><%= Donor.human_attribute_name('currency') %></dt>
		<dd><%= @donor.currency %></dd>
	</dl>
</div>