<h2><%= header t('.title') %></h2>

<table>
	<tr>
		<th><%= t('.region') %></th>
		<th><%= t('.no_projects') %></th>
		<th><%= t('.list') %></th>
		<th><%= t('.map' )%></th>
		<th><%= t('.details') %></th>
	</tr>
	
	<tr style="font-weight: bold">
		<td><%= t('.national')%></td>
		<td><%= Project.national.published.size %></td>
		<td>
                  <%= reports_link_to image_tag("/images/list.gif", :size => "14x15"), reports_province_path(0)%>
		</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
		
	<% @provinces.each do |province| %>
		<% projects = province.projects.published %>
		<tr>
			<td><%= province.name %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to image_tag("/images/list.gif", :size => "14x15"), reports_province_path(province) %>
			</td>
			<td><%= icon_link_to('moz_map', map_reports_province_path(province)) %></td>
			<td><%= reports_link_to t('.show_municipalities'), reports_province_districts_path(province) %>
		</tr>
	<% end %>
	
</table>