<h2><%= header t('.title') %></h2>

<table>
	<tr>
		<th><%= t('.mdg') %></th>
		<th><%= t('.no_projects') %></th>
		<th><%= t('.list') %></th>
    <th><%= t('.map') %></th>
	</tr>
	
	<% @mdgs.each do |mdg| %>
		<% projects = mdg.projects.published %>
		<tr>
			<td><%= mdg.description %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to image_tag("/images/list.gif", :size => "14x15", :border => 0), 
					reports_mdg_path(mdg) %>
			</td>
			<td><%= icon_link_to('moz_map', map_reports_mdg_path(mdg)) %></td>
		</tr>
	<% end %>
</table>