<h2><%= header t('.title', :province => @province.name) %></h2>

<table>
	<tr>
		<th><%=t '.municipality' %></th>
		<th><%=t '.no_projects' %></th>
		<th><%= ll(:reports, :list) %></th>
	</tr>
	
	<% @districts.each do |district| %>
		<% projects = district.projects.published %>
		<tr>
			<td><%= district.name %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to image_tag("/images/list.gif", :size => "14x15", :border => 0), 
						reports_district_path(district) %>
			</td>
		</tr>
	<% end %>

</table>