<h2><%= header lc(:title) %></h2>

<% labeled_form_for :session, :url => session_path do |f| -%>
	<% f.field_set do %>
		<li><%= f.text_field :email %></li>
		<li><%= f.password_field :password, :value => nil %></li>
		<li><%= f.check_box :remember_me, :value => true %></li>
	<% end %>
	
	<%= submit_tag lc(:submit) %>
<% end %>