<li id="sector_detail_<%= index %>" class="sector_detail">
	<% fields_for "country_strategy[sector_detail_attributes][#{index}]", sector_detail do |sector_form| %>
		<%= sector_form.collection_select(:dac_sector_id, DacSector.ordered, :id, :name_with_code, {:prompt => true}, {:class => "dynamic_select parent large"}) %>
		
		<select name="country_strategy[sector_detail_attributes][<%= index %>][crs_sector_id]" class="dynamic_select child large">
			<option value="">Select CRS Sector if given</option>
			<%= option_groups_from_collection_for_select(DacSector.ordered, :crs_sectors, :name_with_code, :id, :name_with_code, sector_detail.crs_sector_id) %>
		</select>
		
		<div>		
		<b>Total Amount:</b>&nbsp;<%= sector_form.text_field :amount %>
		</div>
		
		<div id="focal_provinces_<%= index %>">
			<%= render 	:partial => 'focal_province', 
									:collection => (sector_detail.provinces.empty? ? [Province.new] : sector_detail.provinces), 
									:locals => { :index => index } %>
		</div>
		<%= button_to_function "Add Another Focal Province" do |page| 
			page.insert_html :bottom, "focal_provinces_#{index}", :partial => 'focal_province', :object => Province.new, :locals => { :index => index }
		end %>
		
	<% end %>

	<%= link_to_function "Delete Sector", <<-END_JS
			if ($('.sector_detail').length > 1) {
				$(this).parents('.sector_detail').remove();
			} else {
				alert("You have to specify at least one Focal Sector");
			}
		END_JS
	%>
</li>