<% labeled_form_for @glossary do |f| %>
	<% f.field_set do %>
		<li class="fifty"><%= f.select :model, @models.map { |n| [n, n] } %></li>
		<li class="fifty"><%= f.text_field :method %></li>
		<%= f.text_field :locale %>
		<%= f.text_area :description %>
		
		<%= f.submit %>
	<% end %>
<% end %>