<h2><%= lc(:title) %></h2>

<table>
	<tr>
		<th><%= ll(:glossary, :model) %></th>
		<th><%= ll(:glossary, :method) %></th>
		<th><%= ll(:glossary, :locale) %></th>
		<th></th>
	</tr>
	
	<% @glossaries.each do |glossary| %>
		<tr>
			<td><%= glossary.model %></td>
			<td><%= glossary.method %></td>	
			<td><%= glossary.locale %></td>
			<td><%= link_to ll(:actions, :edit), edit_glossary_path(glossary) %></td>		
		</tr>
	<% end %>
</table>

<p><b><%= link_to lc(:new), new_glossary_path %></b>&nbsp;</p>

