<style type="text/css" media="screen">
	#leftColumn {
		width: 160px;
		float: left;
		text-align: center;
	}

	#centerColumn {
		width: 560px;	
		float: left;
	}

	#rightColumn {
		width: 160px;	
		float: left;
		text-align: center;
	}

	#leftColumn A:hover, #rightColumn A:hover {
          background-color:#ffffff;
	}
</style>

<div id="leftColumn">
	<a href="/odamap" target="_blank" ><IMG SRC="/images/Mozambique.gif" border="1" alt="ODAmap" /></a>
	<%=t '.map_image_link' %> 
</div>

<div id="centerColumn">
	<div id="shortIntro">
		<%= render :partial => "intro_short" %>
		<p align="right">
			<%= link_to_function t('.read_more'), nil do |page| 
				page[:shortIntro].hide
				page[:longIntro].show 
			end %>
		</p>
	</div>
	
	<div id="longIntro" style="display: none">
		<%= render :partial => "intro_long" %>
		<p align="right">
			<%= link_to_function t('.back'), nil do |page| 
				page[:longIntro].hide
				page[:shortIntro].show 
			end %>
		</p>
	</div>
</div>

<div id="rightColumn">
      <a target="_blank" title="Search Projects via ODAmap" href="/resources/Mozambique%20Donor%20Atlas%202008.pdf">
        <img alt="ODAmoz Mozambique Donor Atlas 2008" longdesc="ODAmoz Mozambique Donor Atlas 2008" src="/images/Mozambique_DA.jpg" width="145" height="109">
      </a><br>
      Click on Cover Page to Download Donor Atlas<br>
      <br>
</div>
