<h2><%= lc(:title, :donor => @donor.name) %></h2>

<table>
	<% if @agencies.blank? %>
		<tr><td class="empty"><%= lc(:empty) %></td></tr>
	<% else %>
		<tr>
			<th><%= DonorAgency.human_attribute_name('code') %></th>
			<th><%= DonorAgency.human_attribute_name('name') %></th>
			<th><%= DonorAgency.human_attribute_name('acronym') %></th>		
			<th> </th>		
			<th> </th>		
		</tr>
		<% for agency in @agencies %> 
			<tr>
				<td><%= agency.code %></td>
				<td><%= agency.name %></td>
				<td><%= agency.acronym %></td>
				<td><%= link_to ll(:actions, :edit), edit_donor_agency_path(agency) %></td>
				<td><%= link_to ll(:actions, :delete), donor_agency_path(agency), :method => 'delete', 
						:confirm => lc(:confirm_delete, :agency => agency.name) %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>

<p><b><%= link_to lc(:new), new_donor_donor_agency_path(@donor) %></b></p>
