<% stylesheet 'pagination' %>
<h2><%= header t('.title') %></h2>

<table>
	<% if @agencies.blank? %>
		<tr><td class="empty"><%= t('.empty') %></td></tr>
	<% else %>
		<% @agencies.each do |agency| %> 
			<tr>
				<td><%= agency.name %></td>
				<td><%= link_to t('.edit'), edit_agency_path(agency) %></td>
			</tr>
		<% end %>
	<% end %>
</table>
	
<p><b><%= link_to t('.new'), new_agency_path %></b></p>

<%= will_paginate @projects,
	:previous_label => t('pagination.previous_page'), :next_label => t('pagination.next_page') %>