<table width="740" class="admin">
		<tr>
			<td class="title" colspan=2>
				Financial Consistency Forecasts 
			</td>
		</tr>
		<tr>
			<td class="sub_title" width=50%>Donor</td>
			<td width=50%><%= current_donor.name %></td>
		</tr>
		<tr>
			<td class="sub_title">Year</td>
			<td><%= @consistency_finances.year %></td>			
		</tr>
		<tr>
			<td class="sub_title">Total Indicative Commitments</td>
			<td class="field_justify"><%= @consistency_finances.total_indicative_commitments %></td>			
		</tr>
		<tr>
			<td class="sub_title">Total Non Committed</td>
			<td class="field_justify"><%= @consistency_finances.total_non_committed %></td>			
		</tr>		
		<tr>
			<td class="sub_title">Total Disbursements Forecasts</td>
			<td class="field_justify"><%= @consistency_finances.total_payments_forecasts %></td>			
		</tr>
		<% Project::TYPE_OF_AID_OPTIONS.each do |name, idx| %>
			<% field = name.downcase.gsub(/\W+/, '_') + "_forecasts" %>
			<tr>
				<td class="sub_title"><%= name -%> Forecasts</td>
				<td><%= @consistency_finances.send(field) %></td>			
			</tr>
		<% end %>
	</table>