<%# TODO: Add total projects number to reports again %>
<% header lc(:title) %>

<table>	
	<tr>
		<th><%= ll(:terms, :donor) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
		<th><%= ll(:terms, :map) %></th>
	</tr>
	<% @donors.each do |donor| %>
		<% projects = donor.projects.published %>
		<tr>
			<td><%= donor.name %></td>
			<td><%= projects.size %></td>
			<td>
				<% if projects.many? %>
					<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15", :border => 0), 
						:controller => "reports", :action => "project_list", :query => "donor", 
						:value => donor.id) %>
				<% else %>
					<%= link_to(image_tag("/images/details.gif", :size => "14x15", :border => 0), 
						project_path(projects.first, :report => true), 
						:popup => ['Project Details', 'height=600,width=800']) %>
				<% end %>
			</td>
		</tr>
	<% end %>

</table>