<% header lc(:title) %>

<table>
	<tr>
		<th><%= ll(:terms, :region) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
		<th><%= ll(:terms, :details) %></th>
	</tr>
	
	<tr style="font-weight: bold">
		<td>National</td>
		<td><%= @national.size %></td>
		<% if @national.many? %>
			<td>
				<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15"), 
						:controller => "reports", :action => "project_list", :query => "location", :value => 0) %>
			</td>
		<% end %>
		<% if @national.length == 1 %>
			<td><%= link_to(image_tag("/images/details.gif", :size => "14x15"), 
						project_path(projects.first, :report => "with_currency_selector"), 
						:popup => ['_blank', 'height=600,width=800']) %></td>
		<% end %>
	</tr>
		
	<% @provinces.each do |province| %>
		<% projects = province.projects.published %>
		<tr>
			<td><%= province.name %></td>
			<td><%= projects.size %></td>
			<% if projects.many? %>
				<td>
					<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15"), 
							:controller => "reports", :action => "project_list", :query => "location", :value => province.id) %>
				</td>
			<% else %>
				<td>
					<%= link_to(image_tag("/images/details.gif", :size => "14x15"),
							project_path(projects.first, :report => "with_currency_selector"), 
							:popup => ['Project Details', 'height=600,width=800']) %>
				</td>
			<% end %>
			
			<td><%= reports_link_to lc(:show_municipalities), :id => province.id %>
		</tr>
	<% end %>
	
</table>