<h2><%= lc(:title, :province_name => @province.name) %></h2>

<table>
	<tr>
		<th><%= ll(:terms, :municipality) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
	</tr>
	
	<% @districts.each do |district| %>
		<% projects = district.projects.published %>
		<tr>
			<td><%= district.name %></td>
			<td><%= projects.size %></td>
			<td>
				<% if projects.many? %>
					<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15", :border => 0), 
						{ :controller => "reports", :action => "project_list", :query => "sub_location", :value => district.id }, 
						"Projects in #{district.name}") %>
				<% else %>
					<%= link_to(image_tag("/images/details.gif", :size => "14x15", :border => 0), 
						project_path(projects.first, :report => true), 
						:popup => ['Project Details', 'height=600,width=800']) %>
				<% end %>
			</td>
		</tr>
	<% end %>

</table>