<h2><%= header lc(:title) %></h2>

<table>
	<tr>
		<th><%= ll(:terms, :region) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
		<th><%= ll(:terms, :details) %></th>
	</tr>
	
	<tr style="font-weight: bold">
		<td>National</td>
		<td><%= Project.national.published.size %></td>
		<td>
			<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15"), 
					:controller => "reports", :action => "project_list", :query => "location", :value => 0) %>
		</td>
		<td></td>
	</tr>
		
	<% @provinces.each do |province| %>
		<% projects = province.projects.published %>
		<tr>
			<td><%= province.name %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15"), 
						:controller => "reports", :action => "project_list", :query => "location", :value => province.id) %>
			</td>
			<td><%= reports_link_to lc(:show_municipalities), :id => province.id %>
		</tr>
	<% end %>
	
</table>