<% header lc(:title) %>

<table>
	<tr>
		<th><%= ll(:terms, :mdg) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
		<th><%= ll(:terms, :map) %></th>
	</tr>
	
	<% @mdgs.each do |mdg| %>
		<% projects = mdg.projects.published %>
		<tr>
			<td><%= mdg.description %></td>
			<td><%= projects.size %></td>
			<td>
				<% if projects.many? %>
					<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15", :border => 0), 
						:controller => "reports", :action => "project_list", :query => "mdg", 
						:value => mdg.id) %>
				<% else %>
					<%= link_to(image_tag("/images/details.gif", :size => "14x15", :border => 0), 
						project_path(projects.first, :report => true), 
						:popup => ['Project Details', 'height=600,width=800']) %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>