<% header lc(:title) %>

<table>
	<tr>
		<th><%= ll(:terms, :sector) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
<!--		<th><%= ll(:terms, :map) %></th>-->
	</tr>
	
	<% @sectors.each do |sector| %>
		<% projects = sector.projects.published %>
		<tr>
			<td><%= sector.name_with_code %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15", :border => 0), 
					:controller => "reports", :action => "project_list", :query => "sector", 
					:value => sector.id) %>
			</td>
		</tr>
	<% end %>
</table>