<center>
	<table width="740" class="list">
		<% if @agencies.blank? %>
			<tr>
				<td class="exist"><%= lc(:empty) %></td>
			</tr>
		<% else %>
			<tr>
				<td class="head2" colspan=5><%= lc(:title, :donor => @donor.name) %></td>
			</tr>
			<tr>
				<td class="title"><%= ll(:donor_agency, :code) %></td>
				<td class="title"><%= ll(:donor_agency, :name) %></td>
				<td class="title"><%= ll(:donor_agency, :acronym) %></td>		
				<td class="title"> </td>		
				<td class="title"> </td>		
			</tr>
			<% for agency in @agencies %> 
				<tr>
					<td><%= agency.code %></td>
					<td><%= agency.name %></td>
					<td><%= agency.acronym %></td>
					<td><%= link_to ll(:actions, :edit), edit_agency_path(agency) %></td>
					<td><%= link_to ll(:actions, :delete), agency_path(agency), :method => 'delete', 
							:confirm => lc(:confirm_delete, :agency => agency.name) %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
	<p><b><%= link_to lc(:new), new_donor_agency_path(@donor) %></b></p>
</center>