<% stylesheet 'start/jquery-ui-1.8.custom' %>
<% js_behavior 'checkboxes' %>
<% stylesheet 'custom_report' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.accordion').accordion({
      autoHeight: false,
      collapsible: true,
      active: false
    });
  });
</script>

<div class="container">
<% form_tag(
	{ :action => 'create', :method => :put, },
	:id => 'custom_report_conditions', 
	:target => "Results", 
	:onsubmit => "window.open('',this.target,'resizable=1,scrollbars=1,height=600,width=800');return true;") do 
%>

<h2><%= t('.output_fields.heading') %></h2>
<table class="checkbox_container">
  <tr>
    <td style="border-right: 1px solid #777; width: 33%">
      <ul>
        <%= hidden_field_tag "report[fields][]", "factsheet_link" %>
        
        <li>
        	<%= check_box_tag "report[fields][]", "donor", true %>
        	<%= Project.human_attribute_name('donor') %>
        </li>

        <li>
        	<%= check_box_tag "report[fields][]", "donor_agency", true %>
        	<%= Project.human_attribute_name('donor_agency') %>
        </li>

        <li>
        	<%= check_box_tag "report[fields][]", "donor_project_number", true %>
        	<%= Project.human_attribute_name('donor_project_number') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "government_project_code" %>
        	<%= Project.human_attribute_name('government_project_code') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "oecd_number" %>
        	<%= Project.human_attribute_name('oecd_number') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "officer_responsible_name" %>
        	<%= Project.human_attribute_name('officer_responsible_name') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "website" %>
        	<%= Project.human_attribute_name('website') %>
        </li>

        <li>
        	<%= check_box_tag "report[fields][]", "title" %>
        	<%= Project.human_attribute_name('title') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "description" %>
        	<%= Project.human_attribute_name('description') %>
        </li>

        <li>
        	<%= check_box_tag "report[fields][]", "comments" %>
        	<%= Project.human_attribute_name('comments') %>
        </li>
        
        <li>
          <%= check_box_tag "report[fields][]", "planned_start", false %>
          <%= Project.human_attribute_name('planned_start') %>
        </li>

        <li>
          <%= check_box_tag "report[fields][]", "planned_end", false %>
          <%= Project.human_attribute_name('planned_end') %>
        </li>
        
        <li>
          <%= check_box_tag "report[fields][]", "actual_start", true %>
          <%= Project.human_attribute_name('actual_start') %>
        </li>

        <li>
          <%= check_box_tag "report[fields][]", "actual_end", true %>
          <%= Project.human_attribute_name('actual_end') %>
        </li>
        <li>
        	<%= check_box_tag "report[fields][]", "date_of_signing" %>
        	<%= Project.human_attribute_name('date_of_signing') %>
        </li>
        <li>
        	<%= check_box_tag "report[fields][]", "updated_at" %>
        	<%= Project.human_attribute_name('updated_at') %>
        </li>
      </ul>
    </td>
  
    <td style="border-right: 1px solid #777; width: 33%">
      <ul>
<!--        <li>
        	<%= check_box_tag "report[fields][]", "country_strategy" %>
        	<%= Project.human_attribute_name('country_strategy') %>
        </li>
-->
        <li>
        	<%= check_box_tag "report[fields][]", "project_currency" %>
        	<%= Project.human_attribute_name('project_currency') %>
        </li>
        <li>
        	<%= check_box_tag "report[fields][]", "private_support" %>
        	<%= Project.human_attribute_name('private_support') %>
        </li>
        <li>
        	<%= check_box_tag "report[fields][]", "government_counterparts" %>
        	<%= Project.human_attribute_name('government_counterparts') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "recipient_country_budget_nr" %>
        	<%= Project.human_attribute_name('recipient_country_budget_nr') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "sector_relevances" %>
        	<%= Project.human_attribute_name('sector_relevances') %>
        </li>
        

        <li>
        	<%= check_box_tag "report[fields][]", "national_regional" %>
        	<%= Project.human_attribute_name('national_regional') %>
        </li>

        
        <li>
        	<%= check_box_tag "report[fields][]", "geo_relevances" %>
        	<%= Project.human_attribute_name('geo_relevances') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "mdgs" %>
        	<%= Project.human_attribute_name('mdgs') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "prj_status" %>
        	<%= Project.human_attribute_name('prj_status') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "grant_loan" %>
        	<%= Project.human_attribute_name('grant_loan') %>
        </li>
        
<!--        <li>
        	<%= check_box_tag "report[fields][]", "on_off_budget" %>
        	<%= Project.human_attribute_name('on_off_budget') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "on_off_treasury" %>
        	<%= Project.human_attribute_name('of_off_treasury') %>
        </li>-->
        
        <li>
        	<%= check_box_tag "report[fields][]", "type_of_implementation" %>
        	<%= Project.human_attribute_name('type_of_implementation') %>
        </li>

        <li>
        	<%= check_box_tag "report[fields][]", "aid_modality" %>
        	<%= Project.human_attribute_name('aid_modality') %>
        </li>
        
        <li>
        	<%= check_box_tag "report[fields][]", "implementing_agencies" %>
        	<%= Project.human_attribute_name('implementing_agencies') %>
        </li>

        <li>
        	<%= check_box_tag "report[fields][]", "contracted_agencies" %>
        	<%= Project.human_attribute_name('contracted_agencies') %>
        </li>     

        <li>
        	<%= check_box_tag "report[fields][]", "on_off_budget" %>
        	<%= Project.human_attribute_name('on_off_budget') %>
        </li>

        <li>
        	<%= check_box_tag "report[fields][]", "on_off_treasury" %>
        	<%= Project.human_attribute_name('on_off_treasury') %>
        </li>
      </ul>
    </td>
    
    <td>
       <ul>
         <li>
         	<%= check_box_tag "report[fields][]", "total_commitments", true %>
         	<%= Project.human_attribute_name('total_commitments') %>
         </li>

         <li>
         	<%= check_box_tag "report[fields][]", "total_disbursements", true %>
         	<%= Project.human_attribute_name('total_disbursements') %>
         </li>
         
         <li>
           <%= check_box_tag "report[fields][]", "historic_funding" %>
           <%= t('.historic_funding') %>
         </li>
          
         <% Project::FIRST_YEAR_OF_RELEVANCE.upto(Time.now.year) do |year| %>
         	<li>
         		<%= check_box_tag "report[fields][]", "funding_details[#{year}]" %>
         		<%= t('.funds_for', :year => year) %>
         	</li>
         <% end %>
         
         <% (Time.now.year + 1).upto(Time.now.year + 3) do |year| %>
          	<li>
          		<%= check_box_tag "report[fields][]", "funding_details[#{year}]" %>
          		<%= t('.funding_forecasts_for', :year => year) %>
          	</li>
          <% end %>
         
         <li>
          	<%= check_box_tag "report[fields][]", "undisbursed", true %>
          	<%= Project.human_attribute_name('undisbursed') %>
          </li>
       </ul>
     </td>
    </tr>
</table>

<h2><%=t('.criteria.title')%></h2>
<div class="columns" style="margin-bottom: 40px">
  
  <div style="width: 70%;">
    <div class="accordion">
      <h4><a href="#"><%= t('.criteria.donors_and_un_agencies') %></a></h4>
      <div>
        <div class="columns">
        
          <div style="width: 49%">
            <div>
              <%= render :partial => "donors" %>
            </div>
          </div>
           
          <div style="width: 49%">
            <div>
              <%= render :partial => "un_agencies" %>
            </div>
          </div>
             
        </div>
      </div>
      
      <h4><a href="#"><%= t('.criteria.sectors')%></a></h4>
      <div>
        <% data_in_columns(2, DacSector.ordered.all) do |sectors, column| %>
          <ul class="checkbox_container">
            <% if column == 1 %>
              <li class="all"><%= check_box_tag "sectors[]", "all", true %>all</a>
            <% end %>

            <% for sector in sectors %>
              <li class="tooltip" title="<%= sector.name %>">
              	<%= check_box_tag "sectors[]", sector.id %><%= sector.name_with_code(defined?(shorten_to) ? shorten_to : nil) -%>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      
      <h4><a href="#"><%= t('.criteria.location') %></a></h4>
      <div>
        <% data_in_columns(3, Province.ordered.all) do |provinces, column| %>
          <ul class="checkbox_container">
            <% if column == 1 %>
              <li class="all"><%= check_box_tag "provinces[]", "all", true %>all</a>
            <% end %>
            
            <% for province in provinces %>
              <li class="tooltip" title="<%= province.name %>">
              	<%= check_box_tag "provinces[]", province.id %><%= province.name -%>
              </li>
            <% end %>
            
            <% if column == 3 %>
              <li><%= check_box_tag "provinces[]", "national" %><strong><%= t('.national') %></strong></a>
            <% end %>  
          </ul>
        <% end %>
      </div>
       
       <h4><a href="#"><%= t('.criteria.mdg') %></a></h4>
        <div>
           <% data_in_columns(2, Mdg.ordered.all) do |mdgs, column| %>
             <ul class="checkbox_container">
               <% if column == 1 %>
                 <li class="all"><%= check_box_tag "mdgs[]", "all", true %>all</a>
               <% else %>
                  <li></li>
                <% end %>

               <% for mdg in mdgs %>
                 <li class="tooltip" title="<%= mdg.name %>">
                 	<%= check_box_tag "mdgs[]", mdg.id %><%= mdg.name -%>
                 </li>
               <% end %>
             </ul>
           <% end %>
        </div>
    </div>
  </div>
  
  <div style="width: 27%; margin-left: 3%">
    <div class="accordion">
      
      <h4><a href="#"><%= t('.criteria.on_off_budget') %></a></h4>
       <div>
          <ul class="checkbox_container">
          	<li class="all"><%= check_box_tag "on_off_budget[]", "all", true %><%= t('.all') %></a>	
          	<%= render :partial => "reports/query_options/on_off_budget", :collection => Project::ON_OFF_BUDGET_OPTIONS %>
          </ul>
       </div>
       
       <h4><a href="#"><%= t('.criteria.on_off_treasury') %></a></h4>
       <div>
         <ul class="checkbox_container">
         	<li class="all"><%= check_box_tag "on_off_treasury[]", "all", true %><%= t('.all') %></a>	
         	<%= render :partial => "reports/query_options/on_off_treasury", :collection => Project::ON_OFF_TREASURY_OPTIONS %>
         </ul>
       </div>
       
       <h4><a href="#"><%= t('.criteria.aid_modality') %></a></h4>
       <div>
          <ul class="checkbox_container">
          	<li class="all"><%= check_box_tag "aid_modality_ids[]", "all", true %><%= t('.all') %></a>
            		<%= render :partial => "reports/query_options/aid_modality", :collection => AidModality.all %>
          </ul>
       </div>
        
        <h4><a href="#"><%= t('.criteria.type_of_implementation') %></a></h4>
        <div>
          <ul class="checkbox_container">
          	<li class="all"><%= check_box_tag "type_of_implementation[]", "all", true %><%= t('.all') %></a>
          	<%= render :partial => "reports/query_options/type_of_implementation", :collection => Project::IMPLEMENTATION_TYPES %>
          </ul>
        </div>
           
        
        <h4><a href="#"><%= t('.criteria.prj_status') %></a></h4>
         <div>
            <ul class="checkbox_container">
              <li class="all"><%= check_box_tag "prj_status[]", "all", true %><%= t('.all') %></a>
            	<%= render :partial => "reports/query_options/status", :collection => Project::STATUS_OPTIONS %>
            </ul>
         </div>
    </div>
  </div>
  
</div>

<h2><%= t('.output_options.heading') %></h2>
<table class="checkbox_container">
  <tr>
    <td style="border-right: 1px solid #777; width: 33%">
      <h3><%= t('.output_options.disaggregation') %></h3>
      <ul>
        <li><%= check_box_tag "disaggregators[]", "sector" %><%= t('.disaggregation.by_sector') %></li>
      	<li><%= check_box_tag "disaggregators[]", "location" %><%= t('.disaggregation.by_location') %></li>
      </ul>
    </td>
    
    <td style="border-right: 1px solid #777; width: 33%">
      <h3><%= t('.output_options.rates') %></h3>
      <ul>
        <li>
          <%= label_tag "report[exchange_rates][historic]", t('.rates.historic'), :style => "width: 60px; display: block; float: left" %>
          <%= select_tag "report[exchange_rates][historic]", options_for_select(ExchangeRate::SOURCES.map { |s| [ExchangeRate.human_option_name(:source, s), s] }) %>
        </li>

        <li>
          <%= label_tag "report[exchange_rates][current]", t('.rates.current'), :style => "width: 60px; display: block; float: left" %>
          <%= select_tag "report[exchange_rates][current]", options_for_select(ExchangeRate::SOURCES.map { |s| [ExchangeRate.human_option_name(:source, s), s] }) %>
        </li>

        <li>
          <%= label_tag "report[exchange_rates][forecasts]", t('.rates.forecasts'), :style => "width: 60px; display: block; float: left" %>
          <%= select_tag "report[exchange_rates][forecasts]", options_for_select(ExchangeRate::SOURCES.map { |s| [ExchangeRate.human_option_name(:source, s), s] }) %>
        </li>
      </ul>
    </td>
    
    <td>
      <h3><%= t('.output_options.format') %></h3>
      <ul>
        <li><%= t('.currency') %>: <%= select_tag "currency", options_for_select(ExchangeRate.available_currencies_for_select, DEFAULT_CURRENCY) %></li>           
        <input type="submit" name="report[format][xls]" value="<%= t('.xls_output') %>" 
          class="bt" style="margin: 5px; width: 100px" />
        <input type="submit" name="report[format][html]" value="<%= t('.web_output') %>" 
          class="bt" style="margin: 5px; width: 100px" />
      </ul>
    </td>
  </tr>
</table>
<% end %>
</div>





<!--      
      <li>
      	<%= check_box_tag "report[fields][]", "markers" %>
      	<%= Project.human_attribute_name('markers') %>
      </li>
-->
