<% js_behavior 'checkboxes' %>
<% stylesheet 'custom_report' %>

<% form_tag(
	{ :action => 'create', :method => :put, },
	:id => 'custom_report_conditions', 
	:target => "Results", 
	:onsubmit => "window.open('',this.target,'resizable=1,scrollbars=1,height=600,width=800');return true;") do 
%>

    <div class="horizontalBox">
	    <div>
            <span id="project_count"></span>
            <INPUT id="submit_button" type="submit" name="query_button" value="<%=t '.query_database' %>" class="bt" style="margin: 5px; width: 100px">
            <!-- <INPUT type="submit" name="totals_button" value="<%=t '.totals' %>" class="bt" style="margin: 5px; width: 100px"> -->
	    </div>
	    <div>
        	<p style="padding-top:6px;">
            <%=t '.action' %>
            </p>
	    </div>
    </div>
	<div id="output_options" class="container">
		<h2><%=t '.output' %></h2>
		
		<ul class="checkbox_container">
			<h3><span style="float:left"><%=t '.fields' %></span></h3>
			<input type="hidden" value="factsheet_link" name="report[fields][]" />
            
			<%= render :partial => "reports/query_options/query_option" %>
		</ul>
	</div>
	
	<div id="filter_criteria" class="container">
		<h2><%=t '.main_filter' %></h2>
		
		<div id="donor_province" class="container">
			<ul class="checkbox_container">
				<h3><span style="float:left"><%= t('.donor') %></span>
				  <%= select_deselect_link('donors') %></h3>
				<li class="all"><%= check_box_tag "donors[]", "all", true %><%= t('.all') %></a>
			  <%= render :partial => "reports/query_options/donor", :collection => Donor.main.ordered.all %>
			</ul>
			
			<ul class="checkbox_container">
				<h3><span style="float:left"><%= t('.region') %></span>
				  <%= select_deselect_link('provinces') %></h3>
				<li class="all"><%= check_box_tag "provinces[]", "all", true %><%= t('.all') %></a>
			  <%= render :partial => "reports/query_options/province", :collection => Province.ordered.all %>
			</ul>		
			
			<ul class="checkbox_container">
				<h3><span style="float:left"><%= t('.markers') %></span>
				  <%= select_deselect_link('markers') %></h3>
				<li class="all"><%= check_box_tag "markers[]", "all", true %><%= t('.all') %></a>
				<%= render :partial => "reports/query_options/marker", :collection => translate_options(Project::AVAILABLE_MARKERS) %>
				<li class="annotation"><%=t '.markers_annotation' %></li>
			</ul>	
		</div>
	
		<div id="mdg_sector" class="container">
			<ul class="checkbox_container">
				<h3><span style="float:left"><%= t('.mdg') %></span>
				  <%= select_deselect_link('targets') %></h3>
				<li class="all"><%= check_box_tag "targets[]", "all", true %><%= t('.all') %></a>
			  <%= render :partial => "reports/query_options/mdg", :collection => Mdg.ordered.all %>
			</ul>
			
			<ul class="checkbox_container">
				<h3><span style="float:left"><%= t('.dac_sector') %></span>
				  <%= select_deselect_link('sectors') %></h3>
				<li class="all"><%= check_box_tag "sectors[]", "all", true %><%= t('.all') %></a>
			  <%= render :partial => "reports/query_options/sector", :collection => DacSector.ordered.all, :locals => { :shorten_to => 40 } %>
			</ul>
		</div>
	</div>
	
	<div id="other_criteria" class="container">
		<h2><%=t '.other' %></h2>
		
		<ul class="checkbox_container">
			<h3><span style="float:left"><%= t('.grant_loan') %></span>
			  <%= select_deselect_link('grant_loan') %></h3>
			<li class="all"><%= check_box_tag "grant_loan[]", "all", true %><%= t('.all') %></a>	
			<%= render :partial => "reports/query_options/grant_loan", :collection => translate_options(Project::GRANT_LOAN_OPTIONS) %>
		</ul>
		
		<ul class="checkbox_container">
			<h3><span style="float:left"><%= t('.of_budget') %></span>
			  <%= select_deselect_link('on_off_budget') %></h3>
			<li class="all"><%= check_box_tag "on_off_budget[]", "all", true %><%= t('.all') %></a>	
			<%= render :partial => "reports/query_options/on_off_budget", :collection => translate_options(Project::ON_OFF_BUDGET_OPTIONS) %>
		</ul>
		
		<ul class="checkbox_container">
			<h3><span style="float:left"><%= t('.of_treasury') %></span>
			  <%= select_deselect_link('on_off_treasury') %></h3>
			<li class="all"><%= check_box_tag "on_off_treasury[]", "all", true %><%= t('.all') %></a>	
			<%= render :partial => "reports/query_options/on_off_treasury", :collection => translate_options(Project::ON_OFF_TREASURY_OPTIONS) %>
		</ul>
		
		<ul class="checkbox_container">
			<h3><span style="float:left"><%= t('.toa') %></span>
			<%= select_deselect_link('aid_modality_id') %></h3>
			<li class="all"><%= check_box_tag "aid_modality_ids[]", "all", true %><%= t('.all') %></a>
      		<%= render :partial => "reports/query_options/aid_modality", :collection => AidModality.all %>
		</ul>
		
		<ul class="checkbox_container">
			<h3 style="height:30px"><span style="float:left"><%= t('.cod') %></span>
			  <%= select_deselect_link('type_of_implementation') %></h3>
			<li class="all"><%= check_box_tag "type_of_implementation[]", "all", true %><%= t('.all') %></a>
			<%= render :partial => "reports/query_options/type_of_implementation", :collection => translate_options(Project::IMPLEMENTATION_TYPES) %>
		</ul>
		
		<ul class="checkbox_container">
			<h3><span style="float:left"><%= t('.status') %></span>
			  <%= select_deselect_link('prj_status') %></h3>
			<%= render :partial => "reports/query_options/status", :collection => translate_options(Project::STATUS_OPTIONS) %>
		</ul>
		
		<ul class="checkbox_container">
			<h3><span style="float:left"><%= t('.title') %></span>
			  <%= select_deselect_link('disaggregators') %></h3>
			<li><%= check_box_tag "disaggregators[]", "sector" %><%= I18n.t('reports.disaggregation.by_sector') %></li>
			<li><%= check_box_tag "disaggregators[]", "location" %><%= I18n.t('reports.disaggregation.by_location') %></li>
		</ul>
		
	</div>	
<% end %>