<h2><%= header t('.title') %></h2>

<table>
	<tr>
		<th><%= t('.sector') %></th>
		<th><%= t('.no_projects') %></th>
		<th><%= t('.list') %></th>
    <th><%= t('.map') %></th>
	</tr>
	
	<% @sectors.each do |sector| %>
		<% projects = sector.projects.published %>
		<tr>
			<td><%= sector.name_with_code %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to image_tag("/images/list.gif", :size => "14x15", :border => 0), 
					reports_sector_path(sector) %>
			</td>
			<td><%= icon_link_to('moz_map', map_reports_sector_path(sector)) %></td>
		</tr>
	<% end %>
</table>