<tr>
	<td colspan=2 class="title"><%= glossary_icon_for(:cofunding, "Cofunding Information") %>Project's Cofundings</td>
</tr>
<% odafields_for :project do |c| %>
	<%= c.check_box :has_cofundings, :id => "cofundings_toggle_cb", :label_class => "sub_title", :onclick => "cofundings_toggle(this.checked)" %>
<% end %>
<tr class="cofundings_row" style="<%= @project.cofunding_display_style %>">
	<td class="sub_title">Cofunding Donor and Amount</td>
	<td id="cofundings">
		<%= render :partial => 'cofunding', :collection => @project.cofundings %>
	</td>
</tr>
<tr class="cofundings_row" style="<%= @project.cofunding_display_style %>">
	<td colspan="2">
		<%= button_to_function "Add Another Cofunding Donor" do |page| 
			page.insert_html :bottom, :cofundings, :partial => 'cofunding', :object => Cofunding.new(:currency => @project.donor.currency)
		end %>
	</td>
</tr>