<table>
	<tr>		
		<td class="sub_title" colspan=2 >Total commitments (to date)</td>
		<td class="sub_title" colspan=2>Total payments (to date)</td>
	</tr>      
	<tr>       
		<td colspan=2 class="currency right"><%= @project.finances.total_commitments %></td>
		<td colspan=2 class="currency right"><%= @project.finances.total_payments %></td>
	</tr>
	<% @finances.each do |f| %>
		<% if f.year == Project::FIRST_YEAR_OF_RELEVANCE-1 && f.has_historic? %>
			<tr>
				<td class="sub_title" colspan=2>Commitments up to end of <%= f.year %></td>
				<td class="sub_title" colspan=2 >Disbursements up to end of <%= f.year %></td>
			</tr>      
			<tr>       
				<td colspan=2 class="currency right"><%= f.commitments_up_to_end_of %></td>
				<td colspan=2 class="currency right"><%= f.payments_up_to_end_of %></td>
			</tr>							
		<% end %>
		
		<% unless f.commitments == 0 || f.commitments.blank? %>
		<tr>
			<td class="sub_title" colspan=2>Commitments <%= f.year %></td>
		</tr>      
		<tr>       
			<td colspan=2 class="currency right"><%= f.commitments %></td>
		</tr>							
		<% end %>
		
		<% if f.year <= Time.now.year && f.year > Project::FIRST_YEAR_OF_RELEVANCE-1 && f.has_quarterly_payments? %>
			<tr>
				<td class="sub_title">Disbursement<%= f.year %> Q1</td>
				<td class="sub_title">Disbursement<%= f.year %> Q2</td>
				<td class="sub_title">Disbursement<%= f.year %> Q3</td>
				<td class="sub_title">Disbursement<%= f.year %> Q4</td>
				<td class="sub_title">Total <%= f.year %></td>
				<td class="sub_title"><%= f.year %> On/Off Budget</td>
				<td class="sub_title"><%= f.year %> On/Off Treasury</td>
			</tr>      
			<tr>							 
				<td class="currency right"><%= f.payments_q1 %></td>
				<td class="currency right"><%= f.payments_q2 %></td>
				<td class="currency right"><%= f.payments_q3 %></td>
				<td class="currency right"><%= f.payments_q4 %></td>
				<td class="currency right"><%= f.payments_q1+f.payments_q2+f.payments_q3+f.payments_q4 %></td>
				<td class="currency"><%= option_text_by_id(Project::ON_OFF_BUDGET_OPTIONS, f.on_budget) %>
				<td class="currency"><%= option_text_by_id(Project::ON_OFF_TREASURY_OPTIONS, f.on_treasury) %>
			</tr>
		<% end %>
		
		<% if f.year >= Time.now.year && f.has_forecasts? %>
			<tr>
				<td colspan=2 class="sub_title"><%= f.year %> Commitment Forecast</td>
				<td colspan=2 class="sub_title"><%= f.year %> DisbursementForecast</td>
				<td class="sub_title currency"> <%= f.year %> On/Off Budget</td>
				<td class="sub_title currency"><%= f.year %> On/Off Treasury</td>
			</tr>      
			<tr>       
				<td colspan=2 class="currency right"><%= f.commitments_forecast %></td>
				<td colspan=2 class="currency right"><%= f.payments_forecast %></td>
				<td><%= option_text_by_id(Project::ON_OFF_BUDGET_OPTIONS, f.on_budget) %>
				<td><%= option_text_by_id(Project::ON_OFF_TREASURY_OPTIONS, f.on_treasury) %>
			</tr>		
		<% end %>
	<% end %>
</table>
			