<style type="text/css" media="screen">
	.ui-tabs-hide { display: none; }
</style>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("ul#tabs").tabs();
	});
</script>

<% labeled_form_for @project do |form| %>
	<ul id="tabs">
		<li><a href="#profile_information"><%= ll(:project, :stages, :profile_information) %></a></li>
		<li><a href="#sector_agencies"><%= ll(:project, :stages, :sector_agencies) %></a></li>
		<li><a href="#goals"><%= ll(:project, :stages, :goals) %></span></a></li>
		<li><a href="#location_funding"><%= ll(:project, :stages, :location_funding) %></a></li>
		<li><a href="#funding_forecast"><%= ll(:project, :stages, :funding_forecast) %></a></li>
	</ul>
	
	<div id="profile_information" class="stage">
		<%= error_messages_for :project, 
				:attributes => [:donor_project_number, :title, :description, :prj_status] %>
		
		<%= render :partial => "profile_information_form", :locals => { :f => form } %>
	</div>
	
	<div id="sector_agencies" class="stage">
		<%= error_messages_for :project, 
				:attributes => [:national_regional, :type_of_implementation, :type_of_aid, :grant_loan, 
								:officer_responsible_name, :dac_sector_id, :crs_sector_id] %>
		
		<%= render :partial => "sector_agencies_form", :locals => { :f => form } %>
	</div>
	
	<div id="goals" class="stage">
		<%= error_messages_for :project, :attributes => [] %>
		<%= render :partial => "goals_form", :locals => { :f => form } %>
	</div>
	
	<div id="location_funding" class="stage">
		<%= error_messages_for :project, :attributes => [] %>
		<%= render :partial => "location_funding_form", :locals => { :f => form } %>
	</div>
	
	<div id="funding_forecast" class="stage">
		<%= error_messages_for :project, :attributes => [] %>
		<%= render :partial => "funding_forecast_form", :locals => { :f => form } %>
	</div>
	
	<%= form.submit %>
<% end %>