<% js_behavior :related_selects %>

<script type="text/javascript" charset="utf-8">
	function highlightTabsWithErrors(element) {
		tabs = element.children('li');
		tabs.each(function() {
			divId = $(this).children('a').attr('href');
			correspondingDiv = $(divId);
			
			if (correspondingDiv.find('.fieldWithErrors').length > 0) {
				$(this).addClass('tab_with_errors');
			}
		});
	}
	
	$(document).ready(function(){
		$("ul#tabs").tabs();
		highlightTabsWithErrors($("ul#tabs"));
	});

    $(window).scroll(function()
    {
      $('#command_box').animate({top:$(window).scrollTop()+27+"px" },{queue: false, duration: 350});
    });
</script>

<% labeled_form_for @project do |form| %>
<div id="tab_container" style="float:left;width:750px;">
	<ul id="tabs" class="ui-tabs-nav">
		<% I18n.with_options :scope => [:projects, :stages] do |loc| %>
			<li class="ui-tabs-nav-li"><a href="#profile_information"><span><%= loc.t('profile_information') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#sector_agencies"><span><%= loc.t('sector_agencies') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#goals"><span><%= loc.t('goals') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#location_funding"><span><%= loc.t('location_funding') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#funding_forecast"><span><%= loc.t('funding_forecast') %></span></a></li>
		<% end %>
	</ul>
	
	<div id="profile_information" class="stage">
		<%# error_messages_for :project, 
				:attributes => [:donor_project_number, :title, :description, :prj_status] %>
		
		<%= render :partial => "profile_information_form", :locals => { :f => form } %>
	</div>
	
	<div id="sector_agencies" class="stage">
		<%# error_messages_for :project, 
				:attributes => [:national_regional, :type_of_implementation, :type_of_aid, :grant_loan, 
								:officer_responsible_name, :dac_sector_id, :crs_sector_id] %>
		
		<%= render :partial => "sector_agencies_form", :locals => { :f => form } %>
	</div>
	
	<div id="goals" class="stage">
		<%# error_messages_for :project, :attributes => [] %>
		<%= render :partial => "goals_form", :locals => { :f => form } %>
	</div>
	
	<div id="location_funding" class="stage">
		<%# error_messages_for :project, :attributes => [] %>
		<%= render :partial => "location_funding_form", :locals => { :f => form } %>
	</div>
	
	<div id="funding_forecast" class="stage">
		<%# error_messages_for :project, :attributes => [] %>
		<%= render :partial => "funding_forecast_form", :locals => { :f => form } %>
	</div>
    
</div>
<div id="command_box">
	<input type="button" value="Previous" id="previous_button" />
	<input type="button" value="Next" id="next_button"/>
    <br/>
    <br/>
	<%= form.submit %>
</div>
<script language="javascript" >
$("#previous_button").click(function () { 
    var $tabs = $('ul#tabs');
    var selected = $tabs.data('selected.tabs');
    previousTab = selected-1;
    if(previousTab < 0) previousTab = 4;
	$tabs.tabs('select', previousTab); 
    return false;
    });

$("#next_button").click(function () { 
    var $tabs = $('ul#tabs');
    var selected = $tabs.data('selected.tabs');
    nextTab = selected+1;
    if(nextTab > 4) nextTab = 0;
	$tabs.tabs('select', nextTab); 
    return false;
    });

    
</script>
<% end %>

