<h2><%= lc(:title, :status => option_text_by_id(Project::DATA_STATUS_OPTIONS, @status)) %></h2>

<table>
	<% if @projects.blank? then %>
		<tr><td class="empty"><%= lc(:empty) %></td></tr>
	<% else %>
		<tr>
			<th><%= lc(:factsheet) %></th>
			<th><%= lc(:donor) %></th>
			<th><%= lc(:project_no) %></th>
			<th><%= lc(:project_title) %></th>
			<th><%= lc(:total_commitments) %></th>
			<th><%= lc(:disbursed, :year => Time.now.year-1) %></th>
			<th><%= lc(:disbursement_forecast, :year => Time.now.year) %></th>
			<th> </th>
    	</tr>			
	
		<%= render :partial => @projects %>
	<% end %>
</table>