<div class="project_factsheet">
	 <a class="prt" href="#" onclick="window.close();"><%= ll(:actions, :close_window) %></a><a class="prt" href="#" onclick="window.print();"><%= ll(:actions, :print) %></a>
	<h3><%= header lc(:title, :project => @project.donor_project_number) %></h3>
		
	<dl class="main_details">
		<dt class="first"><%= @project.class.human_attribute_name('title') %></dt>
		<dd class="first"><%= @project.title %></dd>
		
		<dt><%= @project.class.human_attribute_name('description') %></dt>
		<dd><%= @project.description %></dd>
		
		<dt><%= @project.class.human_attribute_name('donor') %></dt>
		<dd><%= @project.donor.name %></dd>
		
		<dt><%= @project.class.human_attribute_name('donor_agency') %></dt>
		<dd><%= @project.donor_agency.andand.name %></dd>
		
		<dt><%= @project.class.human_attribute_name('country_strategy') %></dt>
		<dd><%= @project.country_strategy.andand.strategy_number || t('options.country_strategy_unavailable') %></dd>
	</dl>
	
	<div class="map_image">
		<%= link_to image_tag(map_project_path(@project), :size => "220x220"), { :action => 'show_map', :id => @project }, 
		  	:popup => ['', 'height=700,width=915,scrollbars=yes,resizable=yes'], :class => 'map' %>
	</div>
	
	<h3><%= lc(:project_information) %></h3>
	<dl>
	    <dt class="first"><%= @project.class.human_attribute_name('prj_status') %></dt>
	    <dd class="first"><%= option_text_by_id(Project::STATUS_OPTIONS, @project.prj_status) %></dd>
	    
	    <dt><%= @project.class.human_attribute_name('start') %></dt>
	    <dd><%= @project.start %></dd>
	    
	    <dt><%= @project.class.human_attribute_name('end') %></dt>
	    <dd><%= @project.end %></dd>
	    
	    <%# recipient/region/income code here?! %>
	    
	    <dt><%= @project.class.human_attribute_name('national_regional') %></dt>
	    <dd><%= option_text_by_id(Project::NATIONAL_REGIONAL_OPTIONS, @project.national_regional) %>&nbsp;</dd>
	    
	    <dt><%= @project.class.human_attribute_name('type_of_implementation') %></dt>
	    <dd><%= option_text_by_id(Project::IMPLEMENTATION_TYPES, @project.type_of_implementation) %>&nbsp;</dd>

		<dt><%= @project.class.human_attribute_name('officer_responsible') %></dt>
		<dd><%= @project.officer_responsible %>&nbsp;</dd>
		
		<dt><%= @project.class.human_attribute_name('website') %></dt>
		<dd><%= auto_link(@project.website) %>&nbsp;</dd>
		
		<dt><%= @project.class.human_attribute_name('comments') %></dt>
		<dd><%= @project.comments %>&nbsp;</dd>
	</dl>

	<h3><%= lc(:funding_information) %></h3>
	<dl>
	    <dt class="first"><%= @project.class.human_attribute_name('aid_modality') %></dt>
	    <dd class="first"><%= @project.aid_modality.name %></dd>
	    
	    <dt><%= @project.class.human_attribute_name('grant_loan') %></dt>
	    <dd><%= option_text_by_id(Project::GRANT_LOAN_OPTIONS, @project.grant_loan) %></dd>
		
		<% if @project.delegated_cooperation %>
			<dt><%= DelegatedCooperation.human_attribute_name('delegated_by') %></dt>
			<dd><%= @project.delegated_cooperation.delegating_donor.name %> - <%= @project.delegated_cooperation.delegating_agency.name %></dd>
		<% end %>
	</dl>
	
	<dl>
		<dt><%= lc(:totals) %></dt>
		<dd>
			<dl>
				<dt class="first"><%= Funding.human_attribute_name('payments') %></dt>
				<dd class="first"><%= @project.total_payments %></dd>
				
		        <dt><%= Funding.human_attribute_name('commitments') %></dt>
		        <dd><%= @project.total_commitments %></dd>
			</dl>
		</dd>
		
		<% if @project.historic_funding %>
	    	<dt><%= lc(:historic) %></dt>
	    	<dd>
				<dl>
	            	<dt class="first"><%= HistoricFunding.human_attribute_name('payments') %></dt>
					<dd class="first"><%= @project.historic_funding.payments %></dd>
					
	                <dt><%= HistoricFunding.human_attribute_name('commitments') %></dt>
	           	    <dd><%= @project.historic_funding.commitments %></dd>
				</dl>
			</dd>
		<% end %>
		    
	    <% @project.fundings.ordered.select(&:has_data?).each do |f| %>
	    	<dt><%= lc(:funding, :year => f.year) %></dt>
	        <dd>
				<dl>
	            	<dt class="first"><%= Funding.human_attribute_name('commitments') %></dt>
					<dd class="first"><%= f.commitments %></dd>
					
	            	<dt><%= Funding.human_attribute_name('payments') %></dt>
					<dd><%= f.payments %></dd>
					
	            	<dt><%= Funding.human_attribute_name('on_budget') %></dt>
					<dd><%= option_text_by_id(Project::ON_OFF_BUDGET_OPTIONS, f.on_budget) %></dd>
					
	            	<dt><%= Funding.human_attribute_name('on_treasury') %></dt>
					<dd><%= option_text_by_id(Project::ON_OFF_TREASURY_OPTIONS, f.on_treasury) %></dd>
					
					<dt><%= Funding.human_attribute_name('payments_q1') %></dt>
					<dd><%= f.payments_q1 %></dd>
					
		            <dt><%= Funding.human_attribute_name('payments_q2') %></dt>
					<dd><%= f.payments_q2 %></dd>
		
		            <dt><%= Funding.human_attribute_name('payments_q3') %></dt>
					<dd><%= f.payments_q3 %></dd>
		
		            <dt><%= Funding.human_attribute_name('payments_q4') %></dt>
					<dd><%= f.payments_q4 %></dd>
	        	</dl>
			</dd>
	    <% end %>
	
		<% @project.funding_forecasts.ordered.select(&:has_data?).each do |f| %>
	    	<dt><%= lc(:funding_forecast, :year => f.year) %></dt>
	        <dd>
				<dl>
					<dt class="first"><%= FundingForecast.human_attribute_name('payments') %></dt>
					<dd class="first"><%= f.payments %></dd>
		            
	            	<dt><%= FundingForecast.human_attribute_name('commitments') %></dt>
					<dd><%= f.commitments %></dd>
					
	            	<dt><%= FundingForecast.human_attribute_name('on_budget') %></dt>
					<dd><%= option_text_by_id(Project::ON_OFF_BUDGET_OPTIONS, f.on_budget) %></dd>
	
	            	<dt><%= FundingForecast.human_attribute_name('on_treasury') %></dt>
					<dd><%= option_text_by_id(Project::ON_OFF_TREASURY_OPTIONS, f.on_treasury) %></dd>
	        	</dl>
			</dd>
	    <% end %>
	</dl>
		
	<h3><%= lc(:classification) %></h3>
		<dl>		
			<dt class="first"><%= @project.class.human_attribute_name('implementing_agencies') %></dt>
			<dd class="first">
				<ul>
			        <% @project.implementing_agencies.each do |agency| %>
			            <li><%= agency.name %></li>
			        <% end %>
			    </ul>
			</dd>

			<dt><%= @project.class.human_attribute_name('contracted_agencies') %></dt>
			<dd>
				<ul>
			        <% @project.contracted_agencies.each do |agency| %>
			            <li><%= agency.name %></li>
			        <% end %>
			    </ul>
			</dd>
			
			<dt><%= @project.class.human_attribute_name('sectors') %></dt>
		    <dd>
				<dl>
					<% @project.sector_relevances.ordered.each_with_index do |sector, idx| %>
						<dt<%= (idx == 0) ? ' class="first"' : '' -%>>
							<%= sector.amount %>%
						</dt>
						<dd<%= (idx == 0) ? ' class="first"' : '' -%>>
							<%= sector.dac_sector.name_with_code %><br />
                            <%= sector.crs_sector.andand.name_with_code %>
						</dd>
					<% end %>
				</dl>
			</dd>
	
			<dt><%= lc(:mdgs) %></dt>
			<dd>
				<ul>
					<% @project.mdgs.each do |mdg| %>
						<li><%= mdg.name %></li>
					<% end %>
				</ul>
			</dd>
			
			<dt><%= lc(:markers) %></dt>
			<dd>
				<dl>
					<dt class="first"><%= @project.class.human_attribute_name('gender_policy_marker') %></dt>
					<dd class="first"><%= option_text_by_id(Project::MARKER_OPTIONS, @project.gender_policy_marker) %></dd>
	
					<dt><%= @project.class.human_attribute_name('environment_policy_marker') %></dt>
					<dd><%= option_text_by_id(Project::MARKER_OPTIONS, @project.environment_policy_marker) %></dd>
	
					<dt><%= @project.class.human_attribute_name('biodiversity_marker') %></dt>
					<dd><%= option_text_by_id(Project::MARKER_OPTIONS, @project.biodiversity_marker) %></dd>
	
					<dt><%= @project.class.human_attribute_name('climate_change_marker') %></dt>
					<dd><%= option_text_by_id(Project::MARKER_OPTIONS, @project.climate_change_marker) %></dd>
				</dl>
			</dd>
					
			<% geo_list = @project.districts.group_by(&:province) %>
			<dt><%= lc(:focal_regions) %></dt>
			<dd>
				<% if geo_list.empty? %>
					<%= ll(:options, :national) %>
				<% else %>
					<dl>

						<% first = true # lame hack %>
						<% geo_list.each do |province, districts| %>
							<dt<%= ' class="first"' if first %>><%= province.name %></dt>
							<dd<%= ' class="first"' if first %>>
								<ul>
									<% districts.each do |d| %>
                                    <% if d.code.to_i%100 == 0 #this is lame hack II, but it works :( (All Municipalities code is 100*n)%>
                                      <li><%=lc(:all_district) %></li>
                                    <%else%>
										<li><%= d.name %></li>
									<% end %>
									<% end %>
								</ul>
							</dd>
							<% first = false %>
						<% end %>
					</dl>
				<% end %>
			</dd>
		</dl>
</div>
