<ul id="nav">
	<li id="biggermfp">
		<div><a href="#"><%= ll(:navigation, :admin, :gen_conf) %></a></div>
		<ul>
			<li><a href="<%= data_input_status_settings_path %>"><%= ll(:navigation, :admin, :op_cl_data_input) %></a></li>
			<li><a href="<%= glossaries_path %>"><%= ll(:navigation, :admin, :glossary) %></a></li>
		</ul>
	</li>
	
	<li id="biggermfp">
		<div><a href="<%= donors_path %>"><%= ll(:navigation, :admin, :donor_admin) %></a></div>
	</li>

	<li id="biggermfp">
		<div><a href="<%= exchange_rates_path %>"><%= ll(:navigation, :admin, :exchange_rates) %></a></div>
	</li>

	<li id="biggestmfp">
		<div><a href="#"><%= ll(:navigation, :admin, :agencies) %></a></div>
		<ul>
			<li><a href="<%= implementing_agencies_path %>"><%= ll(:navigation, :admin, :impl_agencies) %></a></li>
			<li><a href="<%= contracted_agencies_path %>"><%= ll(:navigation, :admin, :contr_agencies) %></a></li>
			<li><a href="#"><%= ll(:navigation, :admin, :gov_counterpart) %></a></li>
		</ul>
	</li>

	<li id="smallera">
		<div>
			<%= render :partial => "layouts/navigation/language_select" %>
		</div>
	</li>
	
	<li id="smallmfp">
		<div><a href="<%= logout_path %>"><%= ll(:navigation, :logout) %></a></div>
	</li>
</ul>