<% labeled_form_for [@donor, @user].compact do |f| %>
	<% f.field_set do %>
		<li><%= f.text_field :name %></li>
		<li><%= f.text_field :email %></li>
        
		<li class="fifty"><%= f.password_field :password %></li>
		<li class="fifty"><%= f.password_field :password_confirmation %></li>

		<% if false && @donor.nil? %>
			<%= f.collection_select :role_id, Role.all, :id, :description %>
		<% end %>
	<% end %>
	
	<div class="buttonHolder"><%= f.submit %></div>
<% end %>