<h2><%= header t('.title') %></h2>

<table>
	<tr>
		<th><%= t('.name') %></th>
		<th><%= t('.role') %></th>
		<th> </th>
		<th> </th>			
	</tr>
	
	<% @users.each do |user| %>
	<tr>
		<td><%= user.name %></td>
		<td><%= user.role.description %></td>
		<td><%= link_to t('.edit'), edit_user_path(user) %></td>
		<td><%= link_to t('.delete'), user_path(user), :method => 'delete' %></td>
	</tr>
	<% end %>
	
</table>

<p><b><%= link_to t('.new'), @donor.nil? ? new_user_path : new_donor_user_path(@donor) %></b></p>