<table width=740 class="admin">
	<tr>
		<td colspan=2 class="head2"><center><%= ll(:bluebook, :contents, :eu_at_a_glance, :consensus_short) %></center></td>
	</tr>
	<tr>
		<td colspan=2 class="title"><%= ll(:bluebook, :contents, :eu_at_a_glance, :consensus) %></td>
	</tr>
	<tr>
		<td colspan=2 class="institutions" valign=top>
			<strong><%= lc(:summary) %></strong>		
		</td>	
	</tr>
	<tr>
		<td class="institutions" width=50% valign=top>
			<p><%= lc(:summary2) %></p><br>
			<p>	
				<strong><%= lc(:vision) %></strong>
			</p><br>	
			<p><%= lc(:vision_contents_p1) %></p>
			<br>
			<p><%= lc(:vision_contents_p2) %></p>
			<br>
			<p><%= lc(:vision_contents_p3) %></p>
			<br>
			<p><%= lc(:vision_contents_p4) %></p>
		</td>	
		<td class="institutions" width=50% valign=top>
			<p><%= lc(:vision_contents_p5) %></p>
			<br>
			<p><strong><%= lc(:policy) %></strong></p>
			<br>
			<p><%= lc(:policy_contents_p1) %></p>
			<br>
			<p><%= lc(:policy_contents_p2) %></p>
			<br>
			<p><%= lc(:policy_contents_p3) %></p>
			<br>
			<p><%= lc(:policy_contents_p4) %></p>
			<br>
			<p><%= lc(:policy_contents_p5) %></p>
		</td>	
	</tr>
</table>