<table width=740 class="admin">
	<tr>
		<td class="head2"><center><%= ll(:bluebook, :contents, :eu_at_a_glance, :code_of_conduct_short) %></center></td>
	</tr>
	<tr>
		<td class="title"><%= ll(:bluebook, :contents, :eu_at_a_glance, :code_of_conduct) %></td>
	</tr>
	<tr>
		<td class="institutions" valign=top>
			<p><%= lc(:summary) %></p><br>
			<p>
				<strong><%= lc(:general_principles) %></strong>
			</p>
			<p><%= lc(:general_principles_contents) %></p><br>	
			<p>
				<strong><%= lc(:guiding_principles) %></strong>
			</p>
			<p><%= lc(:guiding_principles_contents) %></p><br>
			<p><%= lc(:sector_of_concentration_def) %></p><br>	
			<p><%= lc(:sector_of_concentration_def2) %></p>
		</td>
	</tr>
</table>