<table width=740 class="admin">
	<tr>
		<td class="head2"><center><%= ll(:bluebook, :contents, :eu_cooperation, :process_short) %></center></td>
	</tr>
	<tr>
		<td class="title"><%= ll(:bluebook, :contents, :eu_cooperation, :process) %></td>
	</tr>

	<tr>
		<td class="institutions">
			<p><%= lc(:overview_p1) %></p>
			<br>
			<p><%= lc(:overview_p2) %></p>
			<br>
			<p><%= lc(:overview_p3) %></p>
			<br>

			<p><strong><%= lc(:progress) %></strong></p>
			<br>	
			<p><%= lc(:progress_contents) %></p>
			<br>
			<p><strong><%= lc(:roadmap) %></strong></p>
			<br>
			<p><%= lc(:roadmap_contents_p1) %></p>
			<br>
			<p><%= lc(:roadmap_contents_p2) %></p>
			<br>
			<p><strong><%= lc(:enhanced_coordination) %></strong></p>
			<br>
			<p><%= lc(:enhanced_coordination_contents) %></p>
			<br>
			<p><strong><%= lc(:dialogue_mechanisms) %></strong></p>
			<br>
			<p><%= lc(:dialogue_mechanisms_contents) %></p>
			<br>
			<p><strong><%= lc(:budget_support) %></strong></p>
			<br>
			<p><%= lc(:budget_support_contents) %></p>
			<br>
			<p><strong><%= lc(:challenges) %></strong></p>
			<br>
			<p><%= lc(:challenges_contents) %></p>
			<br>
			<p><strong><%= lc(:consolidating_progress) %></strong></p>
			<br>			
			<p><%= lc(:consolidating_progress_contents) %></p>
			<br>
			<p><strong><%= lc(:establishment) %></strong></p>
			<br>
			<p><%= lc(:establishment_contents) %></p>
			<br>
			<p><strong><%= lc(:code_of_conduct) %></strong></p>
			<br>
			<p><%= lc(:code_of_conduct_contents) %></p>
		</td>	
	</tr>
</table>