<h2><%= lc(:title) %></h2>

<table>
	<% if @contracted_agencies.blank? %>
 		<tr><td class="empty"><%= lc(:empty) %></td></tr>
 	<% else %>	
 		<% @contracted_agencies.each do |agency| %> 
 		<tr>
 			<td><%= agency.name %></td>
 			<td><%= link_to ll(:actions, :edit), edit_contracted_agency_path(agency) %></td>
 		</tr>
 		<% end %>
 		
 	<% end %>
</table>
	
<p><b><%= link_to lc(:new), new_contracted_agency_path %></b></p>
