<li>
	<input name="content_opts[yearly_funds][]" type="checkbox" />Funds for <%= funds_for_year.to_s %>
	<ul class="sub_options">
		<% if funds_for_year <= Time.now.year %>
			<li><input name="content_opts[funds_<%= funds_for_year %>_quarters]" type="checkbox" />Quarterly Payments</li>
			<li><input name="content_opts[funds_<%= funds_for_year %>_payments]" type="checkbox" />Total Payments</li>
			<li><input name="content_opts[funds_<%= funds_for_year %>_commitments]" type="checkbox" />Total Commitments</li>
		<% end %>
		
		<li><input name="content_opts[funds_<%= funds_for_year %>_payments]" type="checkbox" />Payments Forecast</li>
		<li><input name="content_opts[funds_<%= funds_for_year %>_commitments]" type="checkbox" />Commitments Forecast</li>
	</ul>
</li>