<li>
	<%= check_box_tag "report[fields][]", "donor", true %>
	<%= Project.human_attribute_name('donor') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "donor_agency", true %>
	<%= Project.human_attribute_name('donor_agency') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "donor_project_number", true %>
	<%= Project.human_attribute_name('donor_project_number') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "government_counterpart" %>
	<%= Project.human_attribute_name('government_counterpart') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "oecd_number" %>
	<%= Project.human_attribute_name('oecd_number') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "recipient_country_budget_nr" %>
	<%= Project.human_attribute_name('recipient_country_budget_nr') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "title" %>
	<%= Project.human_attribute_name('title') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "description" %>
	<%= Project.human_attribute_name('description') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "country_strategy" %>
	<%= Project.human_attribute_name('country_strategy') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "prj_status" %>
	<%= Project.human_attribute_name('prj_status') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "actual_start", true %>
	<%= Project.human_attribute_name('actual_start') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "actual_end", true %>
	<%= Project.human_attribute_name('actual_end') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "planned_start", false %>
	<%= Project.human_attribute_name('planned_start') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "planned_end", false %>
	<%= Project.human_attribute_name('planned_end') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "total_commitments", true %>
	<%= Project.human_attribute_name('total_commitments') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "total_disbursements", true %>
	<%= Project.human_attribute_name('total_disbursements') %>
</li>

<% Project::FIRST_YEAR_OF_RELEVANCE.upto(Time.now.year+2) do |year| %>
	<li>
		<%= check_box_tag "report[fields][]", "funding_details[#{year}]" %>
		<%= I18n.t('reports.funds_for', :year => year) %>
	</li>
<% end %>

<!-- FIXME
<li>
	<%= check_box_tag "report[fields][]", "cofundings" %>
	<%= Project.human_attribute_name('cofundings') %>
</li>-->

<!--
<li>
	<%= check_box_tag "report[fields][]", "national_regional" %>
	<%= Project.human_attribute_name('national_regional') %>
</li>
-->

<li>
	<%= check_box_tag "report[fields][]", "type_of_implementation" %>
	<%= Project.human_attribute_name('type_of_implementation') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "sector_relevances" %>
	<%= Project.human_attribute_name('sector_relevances') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "aid_modality" %>
	<%= Project.human_attribute_name('aid_modality') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "grant_loan" %>
	<%= Project.human_attribute_name('grant_loan') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "implementing_agencies" %>
	<%= Project.human_attribute_name('implementing_agencies') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "contracted_agencies" %>
	<%= Project.human_attribute_name('contracted_agencies') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "markers" %>
	<%= Project.human_attribute_name('markers') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "mdgs" %>
	<%= Project.human_attribute_name('mdgs') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "geo_relevances" %>
	<%= Project.human_attribute_name('geo_relevances') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "officer_responsible_name" %>
	<%= Project.human_attribute_name('officer_responsible_name') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "website" %>
	<%= Project.human_attribute_name('website') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "comments" %>
	<%= Project.human_attribute_name('comments') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "updated_at" %>
	<%= Project.human_attribute_name('updated_at') %>
</li>