<li>
	<%= check_box_tag "report[fields][]", "donor", true %><%= I18n.t('terms.donor') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "agency", true %><%= I18n.t('reports.donor_agency') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "donor_project_number", true %><%= I18n.t('reports.project_number') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "oecd_number" %><%= I18n.t('reports.oecd_id') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "recipient_country_budget_nr" %><%= I18n.t('reports.budget_number') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "title" %><%= I18n.t('reports.project_title') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "description" %><%= I18n.t('reports.project_desc') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "country_strategy" %><%= I18n.t('reports.cs_link') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "prj_status" %><%= I18n.t('reports.project_status') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "start", true %><%= I18n.t('reports.start') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "end", true %><%= I18n.t('reports.end') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "total_commitments", true %><%= I18n.t('reports.commitments_td') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "total_disbursements", true %><%= I18n.t('reports.disbursements_td') %>
</li>

<% Project::FIRST_YEAR_OF_RELEVANCE.upto(Time.now.year+2) do |year| %>
	<li>
		<%= check_box_tag "report[fields][]", "funding_details[#{year}]" %>
		<%= I18n.t('reports.funds_for', :year => year) %>
	</li>
<% end %>

<li>
	<%= check_box_tag "report[fields][]", "total_cofunding" %><%= I18n.t('reports.total_cofunding') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "cofunding_donors" %><%= I18n.t('reports.cofunding_donors') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "national_regional" %><%= I18n.t('reports.national_regional') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "type_of_implementation" %><%= I18n.t('reports.toi') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "sectors" %><%= I18n.t('terms.dac_sector') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "aid_modality" %><%= I18n.t('reports.toa') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "grant_loan" %><%= I18n.t('reports.grant_loan') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "implementing_agencies" %><%= I18n.t('reports.impl_agencies') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "contracted_agencies" %><%= I18n.t('reports.contr_agencies') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "markers" %><%= I18n.t('terms.markers') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "mdgs" %><%= I18n.t('reports.mdg_goals') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "focal_regions" %><%= I18n.t('reports.focal_regions') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "officer_responsible_name" %><%= I18n.t('reports.officer_responsible') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "website" %><%= I18n.t('terms.internet_link') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "comments" %><%= I18n.t('reports.comments') %>
</li>

<li>
	<%= check_box_tag "report[fields][]", "updated_at" %><%= I18n.t('reports.last_update') %>
</li>