<% js_behavior :related_selects, :tabs, :data_input, :tooltips %>
<% stylesheet 'tabs' %>

<% labeled_form_for @project do |form| %>
<div id="tab_container" style="float:left;width:750px;">
	<ul id="tabs" class="ui-tabs-nav">
	    <li class="ui-tabs-nav-li"><a href="#profile_information"><span><%= t('.stages.profile_information') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#sector_agencies"><span><%= t('.stages.sector_agencies') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#goals"><span><%= t('.stages.goals') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#funding"><span><%= t('.stages.funding') %></span></a></li>
			<li class="ui-tabs-nav-li"><a href="#historic_funding"><span><%= t('.stages.historic_funding') %></span></a></li>
		
	</ul>
	
	<%# Ensure that newly created and updated projects will always go to the drafts folder %>
	<%= form.hidden_field :data_status, :value => Project::DRAFT %>
	
	<div id="profile_information" class="stage">
		<%# error_messages_for :project, 
				:attributes => [:donor_project_number, :title, :description, :prj_status, :start, :end] %>
		
		<%= render :partial => "profile_information_form", :locals => { :f => form } %>
	</div>
	
	<div id="sector_agencies" class="stage">
		<%# error_messages_for :project, 
				:attributes => [:national_regional, :type_of_implementation, :aid_modality, :grant_loan, 
								:officer_responsible_name, :dac_sector_id, :crs_sector_id] %>
		
		<%= render :partial => "sector_agencies_form", :locals => { :f => form } %>
	</div>
	
	<div id="goals" class="stage">
		<%# error_messages_for :project, :attributes => [] %>
		<%= render :partial => "goals_form", :locals => { :f => form } %>
	</div>
	
	<div id="funding" class="stage">
		<%# error_messages_for :project, :attributes => [] %>
		<%= render :partial => "funding_form", :locals => { :f => form } %>
	</div>
	
	<div id="historic_funding" class="stage">
		<%# error_messages_for :project, :attributes => [] %>
		<%= render :partial => "historic_funding_form", :locals => { :f => form } %>
	</div>
    
</div>
<div id="command_box">
	<input type="button" value="<%= t '.previous_step' %>" id="previous_button" /><br/>
	<input type="button" value="<%= t '.next_step' %>" id="next_button"/>
    <br/>
    <br/>
	<%= form.submit(t(".submit"), :onclick =>"checkOnUnload = null;") %>
</div>
<script language="javascript" >


$("#previous_button").click(function () { 
    var $tabs = $('div#tab_container');
    var selected = $tabs.tabs('option', 'selected');
    previousTab = selected-1;
    if(previousTab < 0) previousTab = 4;
	$tabs.tabs('select', previousTab);
    window.scrollTo(0,0);
    return false;
    });

$("#next_button").click(function () { 
    var $tabs = $('div#tab_container');
    var selected = $tabs.tabs('option', 'selected');
    nextTab = selected+1;
    if(nextTab > 4) nextTab = 0;
	$tabs.tabs('select', nextTab); 
    window.scrollTo(0,0);
    return false;
    });

//    var $tabs = $('ul#tabs');
//    $tabs.tabs('select', 1);
    
</script>
<% end %>

