<div>
  <% f.fields_for :funding_forecasts do |fa| -%>
  	<% f.field_set t('projects.forecasts_title', :year => fa.object.year) do %>
  		<%= fa.hidden_field :year %>
  		<%= fa.hidden_field :currency, :value => @project.donor.currency %>
  			
  	  <li class="fifty"><%= fa.text_field :commitments, :value => fa.object.commitments %></li>
  		<li class="fifty"><%= fa.text_field :payments, :value => fa.object.payments %></li>
  		
  		<li class="fifty noborder"><%= fa.select :on_budget, Project::ON_OFF_BUDGET_OPTIONS, :translate => true %></li>
  		<li class="fifty noborder"><%= fa.select :on_treasury, Project::ON_OFF_TREASURY_OPTIONS, :translate => true %></li>
  	<% end %>
  <% end %>
  
  <input type="button" class="add_new_finances" value="Add information for another year" />
</div>
