<script type="text/javascript" charset="utf-8">
	$('div.cofunding input[type=radio].donor').livequery('change', function() {
		if ($(this).checked) {
			$(this).nextAll('select.agencies').hide();
			$(this).nextAll('select.donors').show();
		} else {
			$(this).nextAll('select.donors').hide();
			$(this).nextAll('select.agencies').show();
		}
	});
	
	$('div.cofunding input[type=radio].agency').livequery('change', function() {
		if ($(this).checked) {
			$(this).nextAll('select.donors').hide();
			$(this).nextAll('select.agencies').show();
		} else {
			$(this).nextAll('select.agencies').hide();
			$(this).nextAll('select.donors').show();
		}
	});
	
	var cloneFinancesRow = function() {
	  var blueprint = $(this).parent('div').find('fieldset:last');
	  var next = blueprint.clone();
	  var time = new Date().getTime();
	  
	  // Get the prefix to differentiate between fundings and forecasts
	  var prefix = next.find(':text').attr('id').match(/^(.*)\_\d+\_.*$/)[1] + '_';
	  
	  // Replace the id and name attributes.
    next.find(':text, :checkbox, input[type=hidden], select').each(function() {
      $(this).attr('id', $(this).attr('id').replace(/\_\d+\_/, '_' + time + '_'));
      $(this).attr('name', $(this).attr('name').replace(/\]\[\d+\]\[/, '][' + time + ']['));
    });
    
    // Replate the for attributes.
    next.find('label').each(function() {
      $(this).attr('for', $(this).attr('for').replace(/\_\d+\_/, '_' + time + '_'));
    });
    
    // Remove the record id
    next.find('#' + prefix + time + '_id').remove();
    
    // Save year and reset fields 
    // (not select fields because for on/off budget it makes more sense to assume the previous year's value)
    var year_field = '#' + prefix + time + '_year';
    var year = +next.find(year_field).val();
    next.find(':text, :checkbox').val(null);
    next.find(year_field).val(year + 1);
	  next.find('legend').text(next.find('legend').text().replace(year, year + 1));
	  
	  blueprint.after(next);
	};
	
  $(function() {
    $('.add_new_finances').click(cloneFinancesRow);
  });
</script>

<% f.field_set t('.geo_relevances_title') do %>
	<p><%=t '.geo_usage' %></p>
	
	<li>
		<%= f.add_associated_button(t('.add_location'), @project.geo_relevances.build, :style => "display: block; float: right; margin-top: -20px; width: 170") %>
		
		<%= error_message_on(:project, :geo_relevances, "","", "error_message" ) %>
		<div id="geo_relevances">
			<%= f.render_associated_form @project.geo_relevances, :new => 1 %>
  		</div>
	</li>
	
<% end %>

<% f.field_set t('.cofunding_title') do %>
	<li>
		<%= f.add_associated_button(t('.add_cofunding_donor'), @project.cofundings.new, :style => "display: block; float: right; margin-top: -5px; width: 170px", :partial => "cofunding_donor") %>
		<%= f.add_associated_button(t('.add_cofunding_agency'), @project.cofundings.new, :style => "display: block; float: right; margin-top: -5px; width: 170px", :partial => "cofunding_agency") %>
		
   	<%= error_message_on(:project, :cofundings, "","", "error_message" ) %>

		<div id="cofundings">
			<% @project.cofundings.each do |cofunding| %>
				<% f.fields_for :cofundings, cofunding do |cf| %>
					<% if cofunding.donor_type == "Donor" %>
						<%= render :partial => "cofunding_donor", :locals => { :f => cf } %>
					<% elsif cofunding.donor_type == "Agency" %>
						<%= render :partial => "cofunding_agency", :locals => { :f => cf } %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</li>
<% end %>
	
<% f.field_set t('.historic_funding', :year => Project::FIRST_YEAR_OF_RELEVANCE-1) do %>
	<% f.fields_for :historic_funding, (f.object.historic_funding || f.object.build_historic_funding) do |fh| %>
		<%= fh.hidden_field :currency, :value => @project.donor.currency -%>
	
		<li class="fifty"><%= fh.text_field :commitments, :value => fh.object.commitments %></li>
		<li class="fifty"><%= fh.text_field :payments, :value => fh.object.payments %></li>
	<% end %>
<% end %>

<div>
  <% f.fields_for :fundings do |fa| -%>
    <% f.field_set t('.funding_title', :year => fa.object.year) do %>
  	  <%= fa.hidden_field :year %>
  	  <%= fa.hidden_field :currency, :value => @project.donor.currency %>
  	  
  	  <li><%= fa.text_field :commitments, :value => fa.object.commitments %></li>
  	  
  	  <li class="fifty"><%= fa.text_field :payments_q1, :value => fa.object.payments_q1 %></li>
  	  <li class="fifty"><%= fa.text_field :payments_q2, :value => fa.object.payments_q2 %></li>
  	  <li class="fifty"><%= fa.text_field :payments_q3, :value => fa.object.payments_q3 %></li>
  	  <li class="fifty"><%= fa.text_field :payments_q4, :value => fa.object.payments_q4 %></li>
  	  
  	  <li class="fifty noborder"><%= fa.select :on_budget, Project::ON_OFF_BUDGET_OPTIONS, :translate => true %></li>
  	  <li class="fifty noborder"><%= fa.select :on_treasury, Project::ON_OFF_TREASURY_OPTIONS, :translate => true %></li>
  	<% end %>
  <% end %>
  
  <input type="button" class="add_new_finances" value="Add information for another year" />
</div>
