<% f.field_set do %>
	<p><%=t 'projects.geo_usage' %></p>

	<%= button_to_function t('projects.add_province') do |page| 
			page.insert_html :bottom, :geo_information, :partial => 'relevant_area'
			page << "initDynamicSelects();"
	end %>

	<div id="geo_information">
		<%= render :partial => 'relevant_area', :collection => (@project.provinces.blank? ? [Province.new] : @project.provinces) %>
	</div>	
<% end %>

<% f.field_set t('projects.cofunding_title') do %>
	<div id="cofundings">
		<%= f.render_associated_form(@project.cofundings, :new => 1) %>
	</div>
	
	<%= f.add_associated_link(t('projects.add_cofunding_donor'), @project.cofundings.build) %>
<% end %>
	
<% f.field_set t('projects.historic_funding', :year => Project::FIRST_YEAR_OF_RELEVANCE-1) do %>
	<% funding = HistoricFunding.find_or_initialize_by_project_id(@project.id) %>
	<% f.fields_for "project[historic_funding_attributes]", funding do |fh| %>
		<li class="fifty"><%= fh.text_field :commitments, :value => fh.object.commitments %></li>
		<li class="fifty"><%= fh.text_field :payments, :value => fh.object.payments %></li>
	<% end %>
<% end %>

<% Project::FIRST_YEAR_OF_RELEVANCE.upto(Time.now.year) do |y| %>
	<% f.field_set t('projects.funding_title', :year => y) do %>
		<% f.fields_for_associated @project.fundings.find_or_initialize_by_year(y) do |fa| -%>
			<%= fa.hidden_field :year, y %>
			<li><%= fa.text_field :commitments, :value => fa.object.commitments %></li>
			
			<li class="fifty"><%= fa.text_field :payments_q1, :value => fa.object.payments_q1 %></li>
			<li class="fifty"><%= fa.text_field :payments_q2, :value => fa.object.payments_q2 %></li>
			<li class="fifty"><%= fa.text_field :payments_q3, :value => fa.object.payments_q3 %></li>
			<li class="fifty"><%= fa.text_field :payments_q4, :value => fa.object.payments_q4 %></li>
			
			<li class="fifty noborder"><%= fa.select :on_budget, Project::ON_OFF_BUDGET_OPTIONS, :translate => true %></li>
			<li class="fifty noborder"><%= fa.select :on_treasury, Project::ON_OFF_TREASURY_OPTIONS, :translate => true %></li>
		<% end %>
	<% end %>
<% end %>
