<table>
	<tr>
		<td class="sub_title"><%= ll(:project, :gender_policy_marker) %></td>
		<td class="sub_title"><%= ll(:project, :environment_policy_marker) %></td>
		<td style="border: 0"></td>
	</tr>      
	<tr>       
		<td><%= option_text_by_id(Markers::OPTIONS, @project.gender_policy_marker) %></td>
		<td><%= option_text_by_id(Markers::OPTIONS, @project.environment_policy_marker) %></td>
		<td style="border: 0"></td>
	</tr>
	
	<tr>
		<td class="sub_title"><%= ll(:project, :biodiversity_marker) %></td>
		<td class="sub_title"><%= ll(:project, :climate_change_marker) %></td>
		<td class="sub_title"><%= ll(:project, :desertification) %></td>
	</tr>      
	<tr>       
		<td><%= option_text_by_id(Markers::OPTIONS, @project.biodiversity_marker) %></td>
		<td><%= option_text_by_id(Markers::OPTIONS, @project.climate_change_marker) %></td>
		<td><%= option_text_by_id(Markers::OPTIONS, @project.desertification_marker) %></td>
	</tr>
</table>