<% f.field_set do %>
	<li><%= f.text_field :title, :size => 80, :class => "large" %></li>
	<li><%= f.text_area  :description, :rows => 10, :class => "large" %></li>

	<li class="fifty"><%= f.text_field :donor_project_number %>
        <%= error_message_on(:project, :donor_project_number, "", "", "error_message" )%></li>
	<li class="fifty"><%= f.text_field :oecd_number %></li>
	<li><%= f.text_field :recipient_country_budget_nr, :class => "large" %></li>

	<li><%= f.collection_select :donor_agency_id, @project.donor.agencies, "id", "name_with_code",
				{ :include_blank => t('.prompt'), :required => true }, :class => "large" %></li>
	
<!--
	<li><%#= f.collection_select :country_strategy_id, @project.donor.country_strategies, "id", "strategy_number",
	 		{ :prompt => t('.country_strategy_unavailable') }, :class => "large" %></li>
-->

	<li><%= f.select :prj_status, @project.status_options, 
			:include_blank => t('.prompt'), :translate => true %></li>
    
  <li class="fifty" style="height:70px">
    <%= f.date_select :planned_start, :include_blank => true, :start_year => 1990,
  	      :disabled => (@project.publication_locked? && @project.prj_status >= Project::STATUS_SIGNED) %>
  	<%= error_message_on(:project, :planned_start, "","", "error_message" ) %>
  </li>

  <li class="fifty" style="height:70px">
    <%= f.date_select :planned_end, :include_blank => true, :start_year => 1990,
  	      :disabled => (@project.publication_locked? && @project.prj_status >= Project::STATUS_SIGNED) %>
    <%= error_message_on(:project, :planned_end, "","", "error_message" ) %>
  </li>
  
  <li class="fifty" style="height:70px">
  	<%= f.date_select :actual_start, :include_blank => true, :start_year => 1990,
  	      :disabled => (@project.publication_locked? && @project.prj_status >= Project::STATUS_ONGOING) %>
  	<%= error_message_on(:project, :actual_start, "","", "error_message" ) %>
  </li>

  <li class="fifty" style="height:70px">
    <%= f.date_select :actual_end, :include_blank => true, :start_year => 1990,
  	      :disabled => (@project.publication_locked? && @project.prj_status >= Project::STATUS_ONGOING) %>
    <%= error_message_on(:project, :actual_end, "","", "error_message" ) %>
  </li>
  <li>
    <%= f.date_select :date_of_signing, :include_blank => true, :start_year => 1990,
  	      :disabled => (@project.publication_locked? && @project.prj_status >= Project::STATUS_ONGOING) %>
  </li>
  
	<li><%= f.text_field :website, :class => "large" %></li>
	<li><%= f.text_area :comments, :rows => 10, :class => "large" %></li>
<% end %>

<% f.field_set Project.human_attribute_name('officer_responsible') do %>
	<li class="thirty"><%= f.text_field :officer_responsible_name %></li>
	<li class="thirty"><%= f.text_field :officer_responsible_phone %></li>
	<li class="thirty"><%= f.text_field :officer_responsible_email %></li>
<% end %>
