<tr>
	<td><%= factsheet_link(project) %></td>
	<td><%= project.donor.name %></td>
	<td><%= project.donor_project_number %></td>
	<td><%= short_expander_tag(project.title) %></td>
	<td class="currency" style="text-align: right">
		<%= (project.fundings.total_commitments.currency == nil) ? 'n/a' : project.fundings.total_commitments %>
	</td>
	<td class="currency" style="text-align: right">
		<%= project.fundings.find_by_year(Time.now.year - 1).payments rescue 'n/a' %>
	</td>
	<td class="currency" style="text-align: right">
		<%= project.funding_forecasts.find_by_year(Time.now.year).payments rescue 'n/a' %>
	</td>
	<td>
		<select onChange="location=this.value">
			<option selected><%= lc(:choose_action) %></option>
			<option value="<%= edit_project_path(project) -%>"><%= ll(:actions, :edit) %></option>
			<% if project.data_status == Project::DRAFT %>
				<option value="<%= update_status_project_path(project, :status => Project::PUBLISHED) -%>"><%= lc(:publish) %></option>
			<% else %>
				<option value="<%= update_status_project_path(project, :status => Project::DRAFT) -%>"><%= lc(:draft) %></option>
			<% end %>
			
			<% if project.data_status != Project::DELETED %>
				<option value="<%= update_status_project_path(project, :status => Project::DELETED) -%>"><%= ll(:actions, :delete) %></option>
			<% end %>
		</select>
	</td>
</tr>