<tr>
	<td><%= project.donor.name %></td>
	<td>
	  <%= icon_link_to 'page_white_text', project_path(project), t('.factsheet') %>
	  <%= project.donor_project_number %>
	</td>
	<td><%= short_expander_tag(project.title) %></td>
	<td class="currency" style="text-align: right">
		<%= project.total_commitments %>
	</td>
	<td class="currency" style="text-align: right">
		<%= project.fundings.find_by_year(Time.now.year - 1).payments rescue 'n/a' %>
	</td>
	<td class="currency" style="text-align: right">
		<%= project.funding_forecasts.find_by_year(Time.now.year).payments rescue 'n/a' %>
	</td>
	<td>
	  <%= icon_link_to 'page_white_copy', clone_project_path(project), t('.clone') %>
		
		<% if project.data_status == Project::DRAFT %>
		  <%= icon_link_to 'page_white_edit', edit_project_path(project), t('.edit') %>
		  <%= icon_link_to 'accept', update_status_project_path(project, :status => Project::PUBLISHED), t('.publish') %>
		<% elsif project.data_status == Project::PUBLISHED %>
		  <%= icon_link_to 'page_white_edit', edit_project_path(project), t('.edit_and_draft') %>
		  <%= icon_link_to 'accept', update_status_project_path(project, :status => Project::DRAFT), t('.draft') %>
		<% end %>
		
		<% if project.data_status != Project::DELETED %>
		  <%= icon_link_to 'page_white_delete', update_status_project_path(project, :status => Project::DELETED), t('.delete') %>
		<% end %>
	</td>
</tr>