<% f.field_set t('.title', :year => f.object.year) do %>
  <%= f.hidden_field :year %>
  
  <li><%= f.monetary_field :commitments %></li>
  
  <li class="fifty"><%= f.monetary_field :payments_q1 %></li>
  <li class="fifty"><%= f.monetary_field :payments_q2 %></li>
  <li class="fifty"><%= f.monetary_field :payments_q3 %></li>
  <li class="fifty"><%= f.monetary_field :payments_q4 %></li>
  
  <li class="fifty noborder"><%= f.select :on_budget, Project::ON_OFF_BUDGET_OPTIONS, :translate => true %></li>
  <li class="fifty noborder"><%= f.select :on_treasury, Project::ON_OFF_TREASURY_OPTIONS, :translate => true %></li>
<% end %>