<% f.field_set do %>
	<li>
		<%= f.label :sector_relevances %>
		<%= f.add_associated_button(t('projects.add_sector'), @project.sector_relevances.new, :style => "display: block; float: right; margin-top: -20px; width: 170") %>
		
        <%= error_message_on(:project, :sector_relevances, "","", "error_message" ) %>
		<div id="sector_relevances">
			<%= f.render_associated_form @project.sector_relevances, :new => 1 %>
  		</div>
	</li>
	
	<li>
		<%= f.label :implementing_agencies %>
		<%= button_to_function t('projects.add_implementing_agency'), :style => "float: right; margin-top: -20px; width: 230px" do |page|  
				page.insert_html :bottom, :implementing_agencies, 
					:partial => 'implementing_agency', :object => Agency.new
			end %>
			
		<div id="implementing_agencies">
			<% if @project.implementing_agencies.any? %>
				<%= render :partial => 'implementing_agency', :collection => @project.implementing_agencies.ordered %>
			<% else %>
				<%= render :partial => 'implementing_agency', :object => Agency.new %>
			<% end %>
		</div>
	</li>
	
	<li>
		<%= f.label :contracted_agencies %>
		<%= button_to_function t('projects.add_contracted_agency'), :style => "float: right; margin-top: -20px; width: 230px" do |page| 
			page.insert_html :bottom, :contracted_agencies, :partial => 'contracted_agency', :object => Agency.new
		end %>
		
		<div id="contracted_agencies">
			<% if @project.contracted_agencies.any? %>
				<%= render :partial => 'contracted_agency', :collection => @project.contracted_agencies.ordered %>
			<% else %>
				<%= render :partial => 'contracted_agency', :object => Agency.new %>
			<% end %>
		</div>
	</li>
	
	
	<li class="fifty"><%= f.select :national_regional, Project::NATIONAL_REGIONAL_OPTIONS,
				:include_blank => t('.prompt'), :translate => true %></li>
				
	<li class="fifty"><%= f.select :type_of_implementation, Project::IMPLEMENTATION_TYPES,
				:include_blank => t('.prompt'), :translate => true %></li>
	
	<li>
          <%= aid_modality_select(f) %>

          <script>
            // Selector behavior for aid_modality
              $("#dummy_aid_modality_id").bind("change", function(e){
                if ($("#dummy_aid_modality_id option:selected").attr("group") == "true")
                {
                  $("#" + $("#dummy_aid_modality_id option:selected").val()).attr("style", "display:block;");
                }
                else
                {
                  $("#dummy_aid_modality_id option").each(function(ev)
                  {
                    if($(this).attr("group") == "true"){
                      $("#" + $(this).val()).attr("style", "display:none");
                    }
                  });
                }
              });

              $("#dummy_aid_modality_id").change(function(ev){
               if ($("#dummy_aid_modality_id option:selected").attr("group") != "true"){
                    $("#project_aid_modality_id").val($(this).val());
                    $("#project_aid_modality_id").change();
               }
              });


            $(document).ready(function(){
              if ($("#project_aid_modality_id").val() != "") {
                $("#dummy_aid_modality_id option").each(function(){
                  if($(this).attr("group") == "true") {
                    $("#" + $(this).val() + " option").each(function(){
                      if($(this).val() == $("#project_aid_modality_id").val()){
                        $("#dummy_aid_modality_id").val($(this).parent().attr("id"));
                      }
                    });
                  }
                });
              }
              $("#dummy_aid_modality_id option").each(function(ev)
              {
                if($(this).attr("group") == "true") {
                  $("#" + $(this).val()).change(function(ev){
                    $("#project_aid_modality_id").val($(this).val());
                    $("#project_aid_modality_id").change();
                  });
                }
              });
              $("#dummy_aid_modality_id").change()
            });
          </script>
        </li>
	
	<li class="fifty"><%= f.select :grant_loan, Project::GRANT_LOAN_OPTIONS,
				 :include_blank => t('.prompt'), :translate => true %></li>
	

	<script type="text/javascript" charset="utf-8">
		$(function() {
			dropdown = $('#delegated_coorp_on_off');
			element = $('#delegated_cooperation');
			
			dropdown.bind("change", function(e) {
				if(this.value == 1) {
					element.hide();
				} else {
					element.show();
				}
			});	
			
			dropdown.trigger('change');
		});
	</script>

        <li>
          <%= f.select :single_treasury_account, Project::ON_OFF_CUT,
				:include_blank => ll(:options, :prompt), :translate => true %>
        </li>
        <li id="enters_in">
          <%= f.select :enters_in, Project::ENTRY_TYPES,
				:include_blank => ll(:options, :prompt), :translate => true %>
        </li>
        <li id="loan_to_public_enterprises">
          <%= f.select :loan_to_public_enterprises, Project::LOAN_TO_PUBLIC_ENTERPRISES,
				:include_blank => ll(:options, :prompt), :translate => true %>
        </li>

        <li>
          <%= f.text_field :government_project_code, :class => "large" %></li>
        <li>
		<%= f.label :delegated_cooperation %>
		<select name="project[delegated_cooperation_attributes][_delete]" id="delegated_coorp_on_off">
			<%= options_for_select({ t('options.del_no') => 1, t('options.del_yes') => 0}, (@project.delegated_cooperation ? 0 : 1)) %>
		</select>
	</li>

	<li id="delegated_cooperation">
		<% f.fields_for :delegated_cooperation, @project.delegated_cooperation || @project.build_delegated_cooperation do |dc| %>			
			<%= dc.collection_select :delegating_donor_id, Donor.ordered, :id, :name, 
				{ :prompt => t('.prompt') }, :class => 'dynamic_select parent large' %>
    
			<%= dc.related_collection_select :delegating_agency_id, :donor_id, 
				Donor.ordered, :'agencies.ordered', :name, :id, :name, 
				{ :prompt => t('.not_avail') }, :class => 'dynamic_select child large' %>
		<% end %>
	</li>	
	<li><%= f.text_field :website, :class => "large" %></li>
	<li><%= f.text_area :comments, :rows => 10, :class => "large" %></li>

	
<% end %>

<!--
<%# f.field_set Project.human_attribute_name('markers') do %>
	<li class="thirty"><%= f.select :biodiversity_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty"><%= f.select :climate_change_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty"><%= f.select :desertification_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	
	<li class="thirty"><%= f.select :gender_policy_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty"><%= f.select :environment_policy_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty" style="height: 45px"></li>
<%# end %>
-->
<% f.field_set Project.human_attribute_name('officer_responsible') do %>
	<li class="thirty"><%= f.text_field :officer_responsible_name %></li>
	<li class="thirty"><%= f.text_field :officer_responsible_phone %></li>
	<li class="thirty"><%= f.text_field :officer_responsible_email %></li>
<% end %>



  <script type="text/javascript" charset="utf-8">
          $(function() {
            var foodAidId = 23; //Awful hard coding of special case
            $("#project_aid_modality_id").bind("change", function(){
              recalculate_government_code();
              if ($("#project_aid_modality_id").val() != foodAidId && $("#project_single_treasury_account").val() == "true" )
                $('#enters_in').hide();
              else
                $('#enters_in').show();
            });

            $("#project_donor_agency_id").bind("change", recalculate_government_code);
            $("#project_government_counterpart_id").bind("change", recalculate_government_code);
            $("#project_loan_to_public_enterprises").bind("change", recalculate_government_code);
            $("#project_enters_in").bind("change", recalculate_government_code);

            dropdown_single_treasury_account = $('#project_single_treasury_account');
            enter_in_label = $('#enters_in');

            dropdown_single_treasury_account.bind("change", function(e) {
              if(this.value == "false") {
                //Added exception for Food Aid, Id = 23
                enter_in_label.show();
              } else {
                if ($("#project_aid_modality_id").val() == foodAidId )
                  enter_in_label.show();
                else
                  enter_in_label.hide();
              }
              recalculate_government_code();
            });

            dropdown_single_treasury_account.trigger('change');

            dropdown_grant_loan = $('#project_grant_loan');
            loan_to_public_enterprises_label = $('#loan_to_public_enterprises');

            dropdown_grant_loan.bind("change", function(e) {
              if(this.value == 2) {
                loan_to_public_enterprises_label.show();
              } else {
                loan_to_public_enterprises_label.hide();
              }
              recalculate_government_code();
            });

            dropdown_grant_loan.trigger('change');

          });

          function recalculate_government_code()
          {

            var number1 = "-";
            var number2 = "-";
            var number3 = "-";
            on_off_cut = $("#project_single_treasury_account");
            type_of_funding = $("#project_grant_loan");
            aid_modality = $("#project_aid_modality_id");

            switch(on_off_cut.val()){
              case "true":
                number1 = 1
                number3 = 4
                break;
              case "false":
                number1 = 2
                break;
            }
            if(on_off_cut.val() == "false" || aid_modality.val() == 23) {
              var project_enters_in = $("#project_enters_in");
              switch(project_enters_in.val()){
                case "1": //In Kind Convertible In Cash
                  number3 = 2;
                  break;
                case "2": //In Kind Not Convertible In Cash
                  number3 = 8;
                  break;
                case "3": //In Cash under Donor Management
                  number3 = 7;
                  break;
                case "4": //In Cash under Beneficiary/Government Management
                  number3 = 5;
                  break;
              }
            }

            switch(type_of_funding.val()) {
              case "1":
                number2 = 3;
                break;
              case "2":
                number2 = 5;
                project_loan_to_public_enterprises = $("#project_loan_to_public_enterprises");
                if(project_loan_to_public_enterprises.val() != "0")
                    number3 = 6;
                break;
            }

            commonFunds = [2,3,4,5,6,7,8,9,10,11,12,13,14,22];
            projects = 15;
            if(aid_modality.val() == 1) //General Budget Support
            {
              number3 = 1;
            }
            else if(projects ==  aid_modality.val()){
//              number3 = 3;
            }
            else
            {
              $.each(commonFunds, function(index, value) {
                if(value ==  aid_modality.val()){
                  number3 = 3;
                }
              });
            }

            government_project_code = $("#project_government_project_code");
            //Extract the Agency Code
            donor_agency_code = ($("#project_donor_agency_id option:selected").val() == "") ? "" : $("#project_donor_agency_id option:selected").text().split(" - ")[0];
            government_counterpart_code = ($("#project_government_counterpart_id option:selected").val() == "") ? "" : $("#project_government_counterpart_id option:selected").text().split(" - ")[0];
            government_project_code.val(number1 + "" + number2 + "" + number3 + "" + donor_agency_code + "" + government_counterpart_code);

          }
  </script>
