<% f.field_set do %>
	<li>
		<%= f.label :sector_relevances %>
		<%= f.add_associated_link(t('projects.add_sector'), @project.sector_relevances.build, :style => "display: block; float: right; margin-top: -20px; width: 170") %>
		
        <%= error_message_on(:project, :sector_relevances, "","", "error_message" ) %>
		<div id="sector_relevances">
			<%= f.render_associated_form @project.sector_relevances %>
  		</div>
	</li>
	
	<li>
		<%= f.label :implementing_agencies %>
		<%= button_to_function t('projects.add_implementing_agency'), :style => "float: right; margin-top: -20px; width: 230px" do |page|  
				page.insert_html :bottom, :implementing_agencies, 
					:partial => 'implementing_agency', :object => Agency.new
			end %>
			
		<div id="implementing_agencies">
			<% if @project.implementing_agencies.any? %>
				<%= render :partial => 'implementing_agency', :collection => @project.implementing_agencies.ordered %>
			<% else %>
				<%= render :partial => 'implementing_agency', :object => Agency.new %>
			<% end %>
		</div>
	</li>
	
	<li>
		<%= f.label :contracted_agencies %>
		<%= button_to_function t('projects.add_contracted_agency'), :style => "float: right; margin-top: -20px; width: 230px" do |page| 
			page.insert_html :bottom, :contracted_agencies, :partial => 'contracted_agency', :object => Agency.new
		end %>
		
		<div id="contracted_agencies">
			<% if @project.contracted_agencies.any? %>
				<%= render :partial => 'contracted_agency', :collection => @project.contracted_agencies.ordered %>
			<% else %>
				<%= render :partial => 'contracted_agency', :object => Agency.new %>
			<% end %>
		</div>
	</li>
	
	
	<li class="fifty"><%= f.select :national_regional, Project::NATIONAL_REGIONAL_OPTIONS,
				:include_blank => ll(:options, :prompt), :translate => true %></li>
				
	<li class="fifty"><%= f.select :type_of_implementation, Project::IMPLEMENTATION_TYPES,
				:include_blank => ll(:options, :prompt), :translate => true %></li>
	
	<li class="thirty"><%= aid_modality_select(f) %></li>
	
	<li class="thirty"><%= f.select :grant_loan, Project::GRANT_LOAN_OPTIONS,
				 :include_blank => ll(:options, :prompt), :translate => true %></li>
	
	
	<script type="text/javascript" charset="utf-8">
		$(function() {
			dropdown = $('#delegated_coorp_on_off');
			element = $('#delegated_cooperation');
			
			dropdown.bind("change", function(e) {
				if(this.value == 1) {
					element.hide();
				} else {
					element.show();
				}
			});	
			
			dropdown.trigger('change');
		});
	</script>
	<li class="thirty">
		<%= f.label :delegated_cooperation %>
		<select name="project[delegated_cooperation_attributes][_delete]" id="delegated_coorp_on_off">
			<%= options_for_select({ t('options.del_no') => 1, t('options.del_yes') => 0}, (@project.delegated_cooperation ? 0 : 1)) %>
		</select>
	</li>
	
	<li id="delegated_cooperation">
		<% f.fields_for :delegated_cooperation, @project.delegated_cooperation || DelegatedCooperation.new do |dc| %>			
			<%= dc.collection_select :delegating_donor_id, Donor.ordered, :id, :name, 
				{ :prompt => ll(:options, :prompt) }, :class => 'dynamic_select parent large' %>
    
			<%= dc.related_collection_select :delegating_agency_id, :donor_id, 
				Donor.ordered, :'agencies.ordered', :name, :id, :name, 
				{ }, :class => 'dynamic_select child large' %>
		<% end %>
	</li>	
		
	<li><%= f.text_field :website, :class => "large" %></li>
	<li><%= f.text_area :comments, :rows => 10, :class => "large" %></li>

	
<% end %>

<% f.field_set Project.human_attribute_name('markers') do %>	
	<li class="thirty"><%= f.select :biodiversity_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty"><%= f.select :climate_change_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty"><%= f.select :desertification_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	
	<li class="thirty"><%= f.select :gender_policy_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty"><%= f.select :environment_policy_marker, Project::MARKER_OPTIONS, :translate => true %></li>
	<li class="thirty" style="height: 45px"></li>
<% end %>

<% f.field_set Project.human_attribute_name('officer_responsible') do %>
	<li class="thirty"><%= f.text_field :officer_responsible_name %></li>
	<li class="thirty"><%= f.text_field :officer_responsible_phone %></li>
	<li class="thirty"><%= f.text_field :officer_responsible_email %></li>
<% end %>
