<style type="text/css" media="screen">
	.pagination {
		text-align: center;
		padding: .3em; 
		margin: 1.3em 0;
	}
	
	.pagination a, .pagination span {
		padding: .2em .5em; 
	}
	
	.pagination span.disabled {
	    color: #AAA; 
	}
	
	.pagination span.current {
	    font-weight: bold;
	    color: #FF0084; 
	}
	
	.pagination a {
		border: 1px solid #687EAB;
		color: #003366;
		text-decoration: none; 
	}
	
	.pagination a:hover, .pagination a:focus {
		background: #DBE2F1;
	}
	
	.pagination .page_info {
	    color: #aaa;
	    padding-top: .8em; 
	}
	 
	.pagination .prev_page, .pagination .next_page { border-width: 2px; }
	.pagination .prev_page { margin-right: 1em; }
	.pagination .next_page { margin-left: 1em; }
</style>

<h2><%= lc(:title, :status => option_text_by_id(Project::DATA_STATUS_OPTIONS, @status)) %></h2>

<table>
	<% if @projects.blank? then %>
		<tr><td class="empty"><%= lc(:empty) %></td></tr>
	<% else %>
		<tr>
			<th><!-- Factsheet link --></th>
			<th><%= lc(:donor) %></th>
			<th><%= lc(:project_no) %></th>
			<th><%= lc(:project_title) %></th>
			<th><%= lc(:total_commitments) %></th>
			<th><%= lc(:disbursed, :year => Time.now.year-1) %></th>
			<th><%= lc(:disbursement_forecast, :year => Time.now.year) %></th>
			<th> </th>
    	</tr>			
	
		<%= render :partial => @projects %>
	<% end %>
</table>

<%= will_paginate @projects,
	:previous_label => t('pagination.previous_page'), :next_label => t('pagination.next_page') %>