<% stylesheet 'pagination' %>

<h2><%= header t('.title', :status => option_text_by_id(Project, :data_status, Project::DATA_STATUS_OPTIONS, @status)) %></h2>

<table>
	<% if @projects.blank? then %>
		<tr><td class="empty"><%= t('.empty') %></td></tr>
	<% else %>
		<tr>
			<th><%= Project.human_attribute_name('donor') %></th>
			<th><%= Project.human_attribute_name('donor_project_number') %></th>
			<th><%= Project.human_attribute_name('title') %></th>
			<th><%= Project.human_attribute_name('total_commitments') %></th>
			<th><%= Project.human_attribute_name('total_disbursements') %></th>
			<th><%= Project.human_attribute_name('undisbursed') %></th>
			<th><%= Project.human_attribute_name('actual_start') %></th>
			<th><%= Project.human_attribute_name('actual_end') %></th>
			<th></th>
    	</tr>			
	
		<%= render :partial => @projects %>
	<% end %>
</table>

<%= will_paginate @projects,
	:previous_label => t('pagination.previous_page'), :next_label => t('pagination.next_page') %>