<% stylesheet 'pagination' %>

<h2><%= header t('.title', :status => option_text_by_id(Project::DATA_STATUS_OPTIONS, @status)) %></h2>

<table>
	<% if @projects.blank? then %>
		<tr><td class="empty"><%= t('.empty') %></td></tr>
	<% else %>
		<tr>
			<th><!-- Factsheet link --></th>
			<th><%= t('.donor') %></th>
			<th><%= t('.project_no') %></th>
			<th><%= t('.project_title') %></th>
			<th><%= t('.total_commitments') %></th>
			<th><%= t('.disbursed', :year => Time.now.year-1) %></th>
			<th><%= t('.disbursement_forecast', :year => Time.now.year) %></th>
			<th> </th>
    	</tr>			
	
		<%= render :partial => @projects %>
	<% end %>
</table>

<%= will_paginate @projects,
	:previous_label => t('pagination.previous_page'), :next_label => t('pagination.next_page') %>