<!--[form:consistency_finances]-->
<tr>
	<td class="sub_title">Donor</td>
	<td><%= current_donor.name %></td>
</tr>

<%= f.year_select :year, Time.now.year+1, Time.now.year+3, 
	{ :selected => @year }, 
	:disabled => !@consistency_finances.new_record?,
	:onchange => "window.location = '#{request.path}?year=' + this.value" %>
<%= f.text_field :total_indicative_commitments, :label_class => "sub_title_bold" %>
<%= f.text_field :total_non_committed, :label_class => "sub_title_bold" %>
<%= f.text_field :total_payments_forecasts, :label_class => "sub_title_bold" %>
<%= f.text_field :real_payments_forecasts, :disabled => true, :value => current_donor.annual_payments_forecasts[@year] || 0.to_currency(current_donor.currency) %>

<% Project::aid_modality_OPTIONS.each do |name, idx| %>
	<% field = name.downcase.gsub(/\W+/, '_') + "_forecasts" %>
	<%= f.text_field field, :label => "#{name} Disbursements Forecasts", :label_class => "sub_title_bold" %>
	<%= f.text_field "real_#{field}", :label => "Real #{name} Forecasts", :disabled => true, :value => current_donor.payments_forecasts_by_aid_modality(@year)[idx] || 0.to_currency(current_donor.currency) %>
<% end %>
<!--[eoform:consistency_finances]-->