<h2><%= header lc(:title) %></h2>

<table>
	<tr>
		<th><%= ll(:consistency, :donor) %></th>
		<td width="50%"><%= current_donor.name %></td>
	</tr>
	<tr>
		<th><%= ll(:consistency, :year) %></th>
		<td><%= select :consistency, :year, 
				(Time.now.year-5..Time.now.year).to_a.reverse.collect { |y| [y, y] }, {},
				:onchange => "window.location = '#{request.path}?year=' + this.value" %></td>			
	</tr>
	<tr>
		<th><%= ll(:consistency, :total_commitments) %></th>
		<td class="field_justify"><%= @consistency.total_commitments %></td>			
	</tr>
	<tr>
		<th><%= ll(:consistency, :total_payments) %></th>
		<td class="field_justify"><%= @consistency.total_payments %></td>			
	</tr>
	
	<% AidModality.all.each do |toa| %>
		<tr>
			<th><%= ll(:consistency, :toa_payments, :type => toa.name) -%></th>
			<td><%= @consistency.payments_by_aid_modality(toa.id) %></td>			
		</tr>
	<% end %>
</table>

