<% labeled_form_for @donor, :url => donor_details_path do |f| %>

	<% f.field_set do %>


		
		<li class="fifty"><%= f.text_field :field_office_address %></li>
		<li class="fifty"><%= f.text_field :field_office_phone %></li>
		<li class="fifty"><%= f.text_field :field_office_email %></li>
		<li class="fifty"><%= f.text_field :field_office_website %></li>

		<li class="fifty"><%= f.text_field :head_of_mission_name %></li>
		<li class="fifty"><%= f.text_field :head_of_mission_email %></li>
            
		<li class="fifty"><%= f.text_field :head_of_cooperation_name %></li>
		<li class="fifty"><%= f.text_field :head_of_cooperation_email %></li>
            
		<li class="fifty"><%= f.text_field :first_focal_point_name %></li>
		<li class="fifty"><%= f.text_field :first_focal_point_email %></li>
            
		<li class="fifty"><%= f.text_field :second_focal_point_name %></li>
		<li class="fifty"><%= f.text_field :second_focal_point_email %></li>
       
		<li><%= f.text_field :institutions_responsible_for_oda %></li>
    <% Donor::FIRST_YEAR_OF_RELEVANCE.upto(Time.now.year) do |y| %>
      <% f.field_set t('donor_details.details_title', :year => y) do %>
		<% f.fields_for :donor_details, @donor.donor_details.find_or_initialize_by_year(y) do |fa| -%>
              <%= fa.hidden_field :year, :value => y %>
              <li class="thirty"><%= fa.text_field :total_staff_in_country, :value => fa.object.andand.total_staff_in_country  %></li>
              <li class="thirty"><%= fa.text_field :total_expatriate_staff, :value => fa.object.andand.total_expatriate_staff %></li>
              <li class="thirty"><%= fa.text_field :total_local_staff, :value => fa.object.andand.total_local_staff  %>
		<% end %>
      <% end %>
    <% end %>
	<% end %>
	
	<div class="buttonHolder"><%= f.submit %></div>
<% end %>