<center>
	<table width="740" class="admin">
		<% if @head_of_mission.nil? %>
			<tr><td class="error">You have not entered any Donor Details</td></tr>
			<tr><td colspan=5><%= link_to 'Add new donor details', :action => 'new' %></td></tr>
		<% else %>
		<tr>
			<td class="title" colspan=2>
				Donor Details 
			</td>
		</tr>
		<tr>
			<td class="sub_title" width=50%>Donor</td>
			<td width=50%><%= current_donor.name %></td>
		</tr>
		<tr>
			<td class="sub_title">Head of Mission Name</td>
			<td><%= @head_of_mission.name %></td>			
		</tr>
		<tr>
			<td class="sub_title">Head of Mission Email</td>
			<td><%= mail_to(@head_of_mission.email, @head_of_mission.email) %></td>
		</tr>
		<tr>
			<td class="sub_title">Field Office Address</td>
			<td><%= @field_office.address %></td>
		</tr>
		<tr>
			<td class="sub_title">Field Office Phone</td>
			<td><%= @field_office.phone %></td>
		</tr>
		<tr>
			<td class="sub_title">Head of Cooperation Name</td>
			<td><%= @head_of_cooperation.name %></td>
		</tr>
		<tr>
			<td class="sub_title">Head of Cooperation Email</td>
			<td><%= mail_to(@head_of_cooperation.email, @head_of_cooperation.email) %></td>
		</tr>
		<tr>
			<td class="sub_title">First Focal Point Name</td>
			<td><%= @first_focal_point.name %></td>
		</tr>
		<tr>
			<td class="sub_title">First Focal Point Email</td>
			<td><%= mail_to(@first_focal_point.email, @first_focal_point.email) %></td>
		</tr>
		<tr>
			<td class="sub_title">Second Focal Point Name</td>
			<td><%= @second_focal_point.name %></td>
		</tr>
		<tr>
			<td class="sub_title">Second Focal Point Email</td>
			<td><%= mail_to(@second_focal_point.email, @second_focal_point.email) %></td>
		</tr>
		<tr>
			<td class="sub_title">Institutions Responsible for ODA</td>
			<td><%= current_donor.institutions_responsible_for_oda %></td>
		</tr>
		<tr>
			<td class="sub_title">Total Staff in Country</td>
			<td><%= current_donor.total_staff_in_country %></td>
		</tr>
		<tr>
			<td class="sub_title">Total Expatriate Staff</td>
			<td><%= current_donor.total_expatriate_staff %></td>
		</tr>
		<tr>
			<td class="sub_title">Total Local Staff</td>
			<td><%= current_donor.total_local_staff %></td>
		</tr>
		<% end %>
	</table>
	<p><b><%= link_to 'Edit', :action => 'edit' %> | <%= link_to 'Printable Version', { :action => 'show_print' }, :popup => ['new_window', 'height=500,width=800,scrollbars=yes'] %></b></p>
</center>

