<%# TODO: Add total projects number to reports again %>
<h2><%= header t('.title') %></h2>

<table>	
	<tr>
		<th><%= t('.donor') %></th>
		<th><%= t('.no_projects') %></th>
		<th><%= t('.list') %></th>
<!--		<th><%= t('.map') %></th>-->
	</tr>
	<% @donors.each do |donor| %>
		<% projects = donor.projects.published %>
		<tr>
			<td><%= donor.name %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to image_tag("/images/list.gif", :size => "14x15", :border => 0), 
					reports_donor_path(donor) %>
			</td>
		</tr>
	<% end %>

</table>