<%= js_behavior :related_selects %>

<%= error_messages_for :country_strategy %>
<% labeled_form_for @country_strategy do |f| %>
	<% f.field_set do %>
		<li class="fifty"><%= f.text_field :strategy_number, :class => "large" %></li>
		<li class="fifty"><%= f.text_field :strategy_number_es, :class => "large" %></li>
		
		<li class="fifty">
			<%= f.date_select :start, :start_year=> 1995, :end_year=> Time.now.year+15, 
					:default => { :day => 1, :month => 1, :year => 1995 }, :order => [:day, :month, :year] %>
		</li>
		<li class="fifty">
			<%= f.date_select :end, :start_year=> 1995, :end_year=> Time.now.year+15, 
					:default => { :day => 1, :month => 1, :year => 1995 }, :order => [:day, :month, :year] %>
		</li>
		
		<li><%= f.text_area :description, :rows => 5, :class => "full" %></li>
		<li><%= f.text_area :description_es, :rows => 5, :class => "full" %></li>	
		
		<li><%= f.text_field :total_amount_foreseen, :value => f.object.total_amount_foreseen %></li>
		<li><%= f.check_box :strategy_paper %></li>
		<li><%= f.text_field :website %></li>
		<li><%= f.select :programming_responsibility, translate_options(CountryStrategy::RESPONSIBILITY_OPTIONS) %></li>
		<li><%= f.select :project_appraisal_responsibility, translate_options(CountryStrategy::RESPONSIBILITY_OPTIONS) %></li>
		<li><%= f.select :tenders_responsibility, translate_options(CountryStrategy::RESPONSIBILITY_OPTIONS) %></li>
		<li><%= f.select :commitments_and_payments_responsibility, translate_options(CountryStrategy::RESPONSIBILITY_OPTIONS) %></li>
		<li><%= f.select :monitoring_and_evaluation_responsibility, translate_options(CountryStrategy::RESPONSIBILITY_OPTIONS) %></li>
		
		<li class="thirty"><%= f.text_field :commitment_to_budget_support, :size => 4 %></li>
		<li class="thirty"><%= f.text_field :commitment_to_sectorwide_approaches_and_common_funds, :size => 4 %></li>
		<li class="thirty"><%= f.text_field :commitment_to_projects, :size => 4 %></li>
	<% end %>
	
	<% f.field_set CountryStrategy.human_attribute_name('current_total_oda', :year => Time.now.year-1) do %>
		<% f.fields_for_associated @country_strategy.total_odas.find_or_initialize_by_year(Time.now.year-1) do |o| %>
			<%= o.hidden_field :year, :value => Time.now.year-1 %>
			<li class="fifty noborder"><%= o.text_field :commitments %></li>
			<li class="fifty noborder"><%= o.text_field :disbursements %></li>
		<% end %>
	<% end %>
		
	<% f.field_set CountryStrategy.human_attribute_name('last_total_oda', :year => Time.now.year-2) do %>
		<% f.fields_for_associated @country_strategy.total_odas.find_or_initialize_by_year(Time.now.year-2) do |o| %>
			<%= o.hidden_field :year, :value => Time.now.year-2 %>
			<li class="fifty noborder"><%= o.text_field :commitments %></li>
			<li class="fifty noborder"><%= o.text_field :disbursements %></li>
		<% end %>
	<% end %>
	
	<% f.field_set CountryStrategy.human_attribute_name('focal_sectors') do %>		
		<div id="add_sector_loading" style="display: none">
			<b>...</b>
		</div>
	
		<div id="sector_details">
			<% @country_strategy.sector_details.each_with_index do |object, index| %>
				<%= render :partial => 'sector_detail', :object => object, :locals => { :index => index } %>
			<% end %>
		</div>
		
		<%= render :partial => 'add_sector_link', :locals => { :index => f.object.sector_details.size } %>
	<% end %>
	
	<% f.field_set do %>
		<%= f.text_area :comment, :rows => 5 %>
	<% end %>
	
	<div class="buttonHolder"><%= f.submit nil, :class => "full" %></div>
<% end %>