<h2><%= header lc(:title) %></h2>

<table>
	<% if @country_strategies.blank? then %>
		<tr><td class="empty"><%= lc(:empty) %></td></tr>
	<% else %>		
		<tr>
			<th><%= CountryStrategy.human_attribute_name('strategy_number') %></th>
			<th><%= CountryStrategy.human_attribute_name('description') %></th>
			<th><%= CountryStrategy.human_attribute_name('start') %></th>
			<th><%= CountryStrategy.human_attribute_name('end') %></th>
			<th><%= CountryStrategy.human_attribute_name('total_amount_foreseen') %></th>
			<th>&nbsp;</th>
		</tr>
	
		<% for strategy in @country_strategies %> 
			<tr>
				<td><%= strategy.strategy_number %></td>
				<td class="field_justify"><%= expander_tag(strategy.description) %></td>
				<td><%= strategy.start %></td>
				<td><%= strategy.end %></td>
				<td><%= null_to_na(strategy.total_amount_foreseen) %></td>
				<td><%= link_to ll(:actions, :edit), edit_country_strategy_path(strategy) %> <%= link_to ll(:actions, :show), country_strategy_path(strategy) %></td>
			</tr>
		<% end %>
	<% end %>
</table>
	
<center>
	<p><b><%= link_to lc(:new), new_country_strategy_path %></b></p>
</center>
