<div class="project_factsheet">
    <h3> <%=ll(:country_strategy, :details) %></h3>

    <dl class="main_details">
        <dt class="first"><%= @country_strategy.class.human_attribute_name('name') %></dt>
        <dd class="first"><%= @country_strategy.donor.name%></dd>

        <dt> <%=@country_strategy.class.human_attribute_name('strategy_number')%></dt>
        <dd><%=@country_strategy.strategy_number %></dd>

        <dt> <%=@country_strategy.class.human_attribute_name('description')%></dt>
        <dd class="field_justify"><%=@country_strategy.description %></dd>

        <dt> <%=@country_strategy.class.human_attribute_name('comment')%></dt>
        <dd><%=@country_strategy.comment %></dd>

        <dt><%=@country_strategy.class.human_attribute_name('start')%></dt>
        <dd><%=@country_strategy.start %></dd>

        <dt><%=@country_strategy.class.human_attribute_name('end')%></dt>
        <dd><%=@country_strategy.end %></dd>

        <dt><%=@country_strategy.class.human_attribute_name('total_amount_foreseen')%></dt>
        <dd><%=@country_strategy.total_amount_foreseen%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('start')%></dt>
        <dd><%=@country_strategy.start%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('strategy_paper')%></dt>
        <dd><%=@country_strategy.strategy_paper ? lc(:yes) : lc(:no)%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('internet_link')%></dt>
        <dd><%=@country_strategy.website.to_link%></dd>
    </dl>

   <h3> <%=ll(:country_strategy, :general) %></h3>
   <dl class="main_details">
        <% Project::FIRST_YEAR_OF_RELEVANCE.upto(Time.now.year-1) do |year| %>
            <dt class="first"><%=[ll(:country_strategy, :total_oda_commitments), year].join(" ")%></dt>
            <dd class="first"><%=null_to_na(@country_strategy.total_odas.find_or_initialize_by_year(year).commitments)%></dd>
            
            <dt><%=[ll(:country_strategy, :total_oda_disbursements), year].join(" ")%></dt>
            <dd><%=null_to_na(@country_strategy.total_odas.find_or_initialize_by_year(year).disbursements)%></dd>
        <%end%>
        
        <dt><%=@country_strategy.class.human_attribute_name('programming_responsibility') %></dt>
	    <dd><%=option_text_by_id(CountryStrategy::RESPONSIBILITY_OPTIONS, @country_strategy.programming_responsibility)%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('project_appraisal_responsibility') %></dt>
	    <dd><%=option_text_by_id(CountryStrategy::RESPONSIBILITY_OPTIONS, @country_strategy.project_appraisal_responsibility)%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('tenders_responsibility') %></dt>
	    <dd><%=option_text_by_id(CountryStrategy::RESPONSIBILITY_OPTIONS, @country_strategy.tenders_responsibility)%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('commitments_and_payments_responsibility') %></dt>
	    <dd><%=option_text_by_id(CountryStrategy::RESPONSIBILITY_OPTIONS, @country_strategy.commitments_and_payments_responsibility)%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('monitoring_and_evaluation_responsibility') %></dt>
	    <dd><%=option_text_by_id(CountryStrategy::RESPONSIBILITY_OPTIONS, @country_strategy.monitoring_and_evaluation_responsibility)%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('budget_support')%></dt>
        <dd><%="#{@country_strategy.commitment_to_budget_support}%"%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('sector_wide')%></dt>
        <dd><%="#{@country_strategy.commitment_to_sectorwide_approaches_and_common_funds}%"%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('projects')%></dt>
        <dd><%="#{@country_strategy.commitment_to_projects}%"%></dd>

        <dt><%=@country_strategy.class.human_attribute_name('sectors_and_regions')%></dt>
        <dd><%= render :partial => "focal_sectors"%></dd>
   </dl>
  <dl>
      <%if session[:user_id] %>
          <p><b><%= link_to 'Edit', :action => 'edit', :id => @country_strategy %> </b></p>
      <% end %>
  </dl>
</div>

