<% query_options = params.dup %>
<% query_options.delete("action") %>
<% query_options.delete("controller") %>
<% query_options.delete("currency") %>


<% form_tag request.path do -%>
	<% query_options.each do |option| %>
		<% if option[1].is_a?(Hash) %>
			<% option[1].each do |key, value| %>
				<%= hidden_field_tag "#{option[0]}[#{key}]", value, :id => nil %>
			<% end %>
		<% else %>
			<%= hidden_field_tag option[0], option[1] %>
		<% end %>
	<% end %>
    <%= ll(:reports, :currency_selection) %>:
	<select name="currency" onchange="$(this).parent().submit()" class="no_print">
		<% ExchangeRate.available_currencies.each do |currency| %>
			<option value="<%= currency -%>" <%= "selected='selected'" if params[:currency] == currency %> ><%= currency -%></option>
		<% end %>
	</select>
<% end -%>
