<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<title><%= render_page_title %></title>
    
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/jquery_expander.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/jquery.livequery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>
		
		<%= javascript_include_tag('behavior/menu', "ui.datepicker-#{I18n.locale}") %>
		<%= stylesheet_link_tag(
				'layout', 'forms', 'ui.datepicker', 
				"layouts/#{current_user.andand.layout || 'public'}",
				:media => :all, :cache => 'styles') %>
				
		<%= stylesheet_link_tag('print', :media => :print, :cache => false) %>
    	
		<%= yield :head %>
	</head>
	
	<body id="body">
		<div align="center">
			<div id="generalContainer">
				<div id="header">
					<%= render_header_content_for_role(current_user.andand.role_title) %>
					<!-- START Flash Messages section -->
					<%= flash_messages %>
					<!-- END Flash Messages section -->
				</div>
			
				<div id="content">					
					<!-- START yield :header section -->
					<%= yield :header %>
					<!-- END yield :header section -->
    		
					<!-- START "yield" section -->
					<%= yield  %>
					<!-- END "yield" section -->
				</div>
				
				<!-- START footer section -->
				<%= render :partial => 'layouts/footer' %>
				<!-- END footer section -->
			</div>
  	</div>

		<%= yield :body %>
	</body>
</html>
