<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title><%= render_page_title %></title>
	
	  <%= javascript_include_tag(:defaults, 'swfobject', 'jtip', 'jquery_expander', 'jquery_template', 'behavior/menu', :cache => false) %>
	  <%= stylesheet_link_tag('style', 'jtip', :media => :all, :cache => false) %>
	  <%= yield :head %>
	</head>
	
	<body id="body" class="<%= current_user.andand.layout || 'public' %>">
		<div id="header" style="width:900px;">
			<!-- START Flash Objects -->
			<div style="display:block;clear:both;height:90px;vertical-align:bottom;">
				<div style="float:left;height:inherit;width:15%;">
					<%= flashobject_tag "/images/ODAnicFlashLogo.swf", :size => "80x80" %>
				</div>
				<div style="float:left;height:inherit;width:70%;text-align:center;">
					<img src="/images/ODAnicLogo.gif" alt="ODAnic" width="236" height="80" border="0" style="float:left" />
                    <p>Official Development Assistance <br/> to Nicaragua Database</p>
				</div>
				<div style="float:right;padding-top:15px;width:15%;">
					<%= flashobject_tag "/images/ODAnicFlags.swf", :size => "80x54" %>
				</div>
			</div>
			<!-- END Flash Objects -->

			<!-- START Render User Navigation AKA Menu-->
			<%= render_user_navigation %>
			<!-- END Render User Navigation -->

			<!-- START News section -->
			<marquee DIRECTION="LEFT" BEHAVIOR="SCROLL" SCROLLAMOUNT="7" SCROLLDELAY="200" TRUESPEED height="20" width="700">
				<%= Prefs.scroll_bar_mfp %>
			</marquee>
			<!-- END News section -->

			<!-- START Flash Messages section -->
			<%= flash_messages %>
			<!-- END Flash Messages section -->
		</div>
		<div id="content">
		
			<!-- START yield :header section -->
			<%= yield :header %>
			<!-- END yield :header section -->

			<!-- START "yield" section -->
			<%= yield  %>
			<!-- END "yield" section -->
		</div>
		
		<!-- START footer section -->
		<%= render :partial => 'layouts/footer' %>
		<!-- END footer section -->
	</body>
</html>
