<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
	  <title><%= render_page_title %></title>
	  	<%= stylesheet_link_tag('layout', :media => :all, :cache => false) %>
		<%= stylesheet_link_tag('print', :media => :print) %>
		<%= javascript_include_tag(:defaults, 'swfobject', 'jquery_expander', 'jquery_template', :cache => false) %>
		
		<%= yield :head %>
	</head>
	
	<style type="text/css" media="screen">
		body {
			padding: 0 4px;
		}
		
		#content {
			width: 100%;
			padding: 0;
			margin:	0;
		}
		
		#footer {
			width: 100%;
			margin-top: 2px;
		}
	</style>

	<body class="public">
		<div style="position: absolute; right: 30px; top: 13px">
    		<%= render :partial => '/layouts/currency_selector' %>
  		</div>
    	
		<div id="content">
			<%= yield %>
		</div>
		
		<!-- START footer section -->
		<%= render :partial => 'layouts/footer' %>
		<!-- END footer section -->
	</body>
</html>