<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>ODAnic - Official Development Assistance to Nicaragua Database</title>
	<%# TODO: Turn on caching once development is (almost) done %>
	<%# TODO: Get rid of scaffold css ;-) %>
	<%# TODO: Differentiate between screen and print stylesheets %>
  	<%= stylesheet_link_tag('scaffold', 'odadata_menu', 'odadata', 'jtip', :media => :all, :cache => false) %>
	<%# stylesheet_link_tag('print', :media => :print) %>
	<%= javascript_include_tag(:defaults, 'swfobject', 'jtip', 'jquery_expander', 'jquery_template', 'behavior/menu', :cache => false) %>
	
	<%= yield :head %>
	
	<!--[if lte IE 6]>
		<%= stylesheet_link_tag 'iefixes' -%>
	<![endif]-->
	<!--[if lt IE 7]>
		<%= javascript_include_tag 'ie6pngfix' %>
	<![endif]-->
</head>

	<body>
		<div id="content" class="fluid">
			<center>
				<%= yield %>
			</center>
		</div>
		<div style="text-align: center; margin-top: 20px;"><a href="#" onclick="window.close();"><%= ll(:actions, :close_window) %></a></div>
	</body>

</html>