<%# TODO: Add total projects number to reports again %>
<h2><%= header lc(:title) %></h2>

<table>	
	<tr>
		<th><%= ll(:terms, :donor) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
<!--		<th><%= ll(:terms, :map) %></th>-->
	</tr>
	<% @donors.each do |donor| %>
		<% projects = donor.projects.published %>
		<tr>
			<td><%= donor.name %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15", :border => 0), 
					:controller => "reports", :action => "project_list", :query => "donor", 
					:value => donor.id) %>
			</td>
		</tr>
	<% end %>

</table>