<table class="admin">
	<tr>
		<td class="title" colspan=4><b><%= lc(:title) %> (<%= @province.name %>)</b></td>
	</tr>	
	<tr>
		<td colspan=4><b><%= Project.published.size %> <%= ll(:reports, :projects_counter) %></b></td>
	</tr>	
	<tr>
		<td class="sub_title"><b><%= ll(:terms, :municipality) %></b></td>
		<td class="sub_title"><b><%= ll(:reports, :no_projects) %></b></td>
		<td class="sub_title"><b><%= ll(:reports, :list) %></b></td>
	</tr>
	
	<% @districts.each do |district| %>
		<% projects = district.projects.published %>
		<tr>
			<td><%= district.name %></td>
			<td><%= projects.size %></td>
			<td align='center'>
				<% if projects.many? %>
					<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15", :border => 0), 
						{ :controller => "reports", :action => "project_list", :query => "sub_location", :value => district.id }, 
						"Projects in #{district.name}") %>
				<% else %>
					<%= link_to(image_tag("/images/details.gif", :size => "14x15", :border => 0), 
						project_path(projects.first, :report => true), 
						:popup => ['Project Details', 'height=600,width=800']) %>
				<% end %>
			</td>
		</tr>
	<% end %>

</table>