<h2><%= header lc(:title) %></h2>

<table>
	<tr>
		<th><%= ll(:terms, :mdg) %></th>
		<th><%= ll(:reports, :no_projects) %></th>
		<th><%= ll(:reports, :list) %></th>
<!--		<th><%= ll(:terms, :map) %></th>-->
	</tr>
	
	<% @mdgs.each do |mdg| %>
		<% projects = mdg.projects.published %>
		<tr>
			<td><%= mdg.description %></td>
			<td><%= projects.size %></td>
			<td>
				<%= reports_link_to(image_tag("/images/list.gif", :size => "14x15", :border => 0), 
					:controller => "reports", :action => "project_list", :query => "mdg", 
					:value => mdg.id) %>
			</td>
		</tr>
	<% end %>
</table>