<div>
	<% query_options = params.dup %>
	<% query_options.delete("action") %>
	<% query_options.delete("controller") %>
	<% query_options.delete("type") %>

	<% form_tag request.path do -%>
		<% query_options.each do |option| %>
			<% if option[1].is_a?(Hash) %>
				<% option[1].each do |key, value| %>
					<%= hidden_field_tag "#{option[0]}[#{key}]", value, :id => nil %>
				<% end %>
			<% else %>
				<%= hidden_field_tag option[0], option[1] %>
			<% end %>
		<% end %>
        <%= lc(:commitments_payments_selection) %>:
		<select name="type" onchange="$(this).parent().submit()">
			<% %w(commitments payments).each do |cp| %>
				<option value="<%= cp -%>" <%= "selected='selected'" if  cp == @type%> ><%= cp.titleize -%></option>
			<% end %>
		</select>
	<% end -%>
</div>
<div style="margin-top: 20px; height: 40px; vertical-align: top">
	<span style="float: left; font-size: 1.2em; font-weight: bold"><%= lc(@type) %></span>
</div>


<table class="admin" style="clear: both">
	<tr>
		<th>Donor</th>
		<% @years.each do |year| %>
			<% if year <= Time.now.year %>
				<th><%= year %></th>
			<% end %>
			<% if year >= Time.now.year %>
				<th><%= year %> <%= ll(:terms, :forecast) %></th>
			<% end %>
		<% end %>
	</tr>
	<% cache(:currency => params[:currency], :type => @type) do %>
		<% @donors.each do |donor| %>
		<tr style="simple">
			<td><%= donor.name %></td>
    	
			<% @years.each do |year| %>
				<% if year <= Time.now.year %>
					<% t = donor.send("annual_#{@type}")[year] || 0.to_currency(donor.currency) %>
					<td style="width: 100px" class="currency right"><%= t %></td>
				<% end %>
				<% if year >= Time.now.year %>
					<% f = donor.send("annual_#{@type}_forecasts")[year] || 0.to_currency(donor.currency) %>
					<td style="width: 100px" class="currency right"><%= f %></td>
				<% end %>
			<% end %>
		</tr>
		<% end %>
		<tr style="font-weight: bold" class="even">
			<td>TOTAL</td>
			<% @years.each do |year| %>
				<% if year <= Time.now.year %>
					<td class="currency right"><%= @grand_totals[year] %></td>
				<% end %>
				<% if year >= Time.now.year %>
					<td class="currency right"><%= @grand_total_forecasts[year] %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>
</table>
