<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8">
  <title>ODAnic - Official Development Assistance to Nicaragua Database</title>
	<%# TODO: Turn on caching once development is (almost) done %>
	<%# TODO: Get rid of scaffold css ;-) %>
	<%# TODO: Differentiate between screen and print stylesheets %>
  	<%= stylesheet_link_tag('style', :media => :all, :cache => false) %>
	<%= stylesheet_link_tag('print', :media => :print) %>
	<%= javascript_include_tag(:defaults, 'jtip', 'jquery_expander', 'jquery_template', :cache => false) %>
	
	<%= yield :head %>
	
	<!--[if lte IE 6]>
		<%= stylesheet_link_tag 'iefixes' -%>
	<![endif]-->
	<!--[if lt IE 7]>
		<%= javascript_include_tag 'ie6pngfix' %>
	<![endif]-->
</head>


	<body id="body" class="<%= current_user.andand.layout || 'public' %>">
		<div style="position: absolute; left: 30px; top: 13px">
			<%= render :partial => '/layouts/currency_selector' %>
		</div>
		
		<div style="text-align: right; margin-top: 10px; margin-bottom: 5px"><a class="prt" href="#" onclick="window.print();"><%= ll(:actions, :print) %></a> <a class="prt" href="#" onclick="window.close();"><%= ll(:actions, :close_window) %></a></div>
		<div id="content">
				<%= yield %>
		</div>
		<%= render :partial => 'layouts/footer' %>		
	</body>


</html>