<ul id="mainMenu">
	<li>
		<div><a href="/"><%= ll(:navigation, :default, :home) %></a></div>
	</li>
	
	<li>
		<div><%= link_to ll(:navigation, :default, :bluebook), bluebook_root_path, 
					:popup => ['Contents', 'height=600,width=800,scrollbars=yes'] %>
		</div>
	</li>
	
	<li>
		<div><a href=""><%= ll(:navigation, :default, :search_by) %>:</a></div>
		<ul>
			<li><a href="/reports/donors"><%= ll(:terms, :donor) %></a></li>
			<li><a href="/reports/sectors"><%= ll(:terms, :sector) %></a></li>
			<li><a href="/reports/locations"><%= ll(:terms, :location) %></a></li>
			<li><a href="/reports/mdgs"><%= ll(:terms, :mdgs) %></a></li>
		</ul>
	</li>

	<li>
		<div><%= link_to ll(:navigation, :default, :design_own), :controller => "reports", :action => "custom" %></div>
	</li>

	<li>
		<div><a href="/links"><%= ll(:navigation, :default, :links) %></a></div>
	</li>

	<li>
		<div><a href="/downloads"><%= ll(:navigation, :default, :downloads) %></a></div>
	</li>

	<li>
		<div><a href="#"><%= ll(:navigation, :default, :resources) %>:</a></div>
		<ul>
			<li><a href="/manuals/odanic_manual_10_<%= I18n.locale %>.pdf" onclick="window.open(this.href,'_blank','height=500,width=800,scrollbars=yes,resizable=yes');return false;"><%= ll(:navigation, :default, :odadata_manual) %></a></li>
			<li><a href="/manuals/odanic_glossary_10_<%= I18n.locale %>.pdf" onclick="window.open(this.href,'_blank','height=500,width=800,scrollbars=yes,resizable=yes');return false;"><%= ll(:navigation, :default, :glossary) %></a></li>
			<li><a href="/manuals/dac_crs_manual.pdf" onclick="window.open(this.href,'_blank','height=500,width=800,scrollbars=yes,resizable=yes');return false;"><%= ll(:navigation, :default, :dac_manual) %></a></li>
			<li><a href="<%= exchange_rates_path %>"><%= ll(:navigation, :default, :exchange_rates) %></a></li>
		</ul>
	</li>

	<li>
		<div><a href="mailto:alexander.bohr@odadata.eu"><%= ll(:navigation, :default, :contact) %></a></div>
	</li>

	<li>
		<div>
			<%= render :partial => "layouts/navigation/language_select" %>
		</div>
	</li>
</ul>
