<ul id="mainMenu">
	<li>
		<div><%= link_to ll(:navigation, :focal_point, :bluebook), bluebook_root_path, 
					:popup => ['Contents', 'height=600,width=800,scrollbars=yes' ] %></div>
	</li>
	
	<li>
		<div><a href="<%= projects_path %>"><%= ll(:navigation, :focal_point, :projects) %>:</a></div>
		<ul>
			<li><%= link_to ll(:navigation, :focal_point, :new_project), 
						new_project_path %></li>
			<li><%= link_to ll(:navigation, :focal_point, :draft_projects), 
						projects_path(:status => Project::DRAFT) %></li>
			<li><%= link_to ll(:navigation, :focal_point, :published_projects), 
						projects_path(:status => Project::PUBLISHED) %></li>
			<li><%= link_to ll(:navigation, :focal_point, :deleted_projects), 
						projects_path(:status => Project::DELETED) %></li>
		</ul>
	</li>

	<li>
		<div><%= link_to ll(:navigation, :focal_point, :design_own), 
					:controller => "reports", :action => "custom" %></div>
	</li>

	<li>
		<div><a href="#">Reports on:</a></div>
		<ul>
			<li><%= link_to 'Drafts', { :controller => "reports", :action => "project_list", :query => "draft", :value => current_donor.id }, :popup => ['_blank', 'scrollbars=yes' ] %></li>
			<li><%= link_to 'Published', { :controller => "reports", :action => "project_list", :query => "donor", :value => current_donor.id }, :popup => ['_blank', 'scrollbars=yes' ] %></li>
		</ul>
	</li>

	<li>
		<div><a href="#"><%= ll(:navigation, :focal_point, :donor_info) %></a></div>
		<ul>
			<li><a href="/contact/show"><%= ll(:navigation, :focal_point, :donor_details) %></a></li>
			<li><a href="<%= country_strategies_path %>"><%= ll(:navigation, :focal_point, :strategy) %></a></li>
			<li><a href="<%= consistency_path %>"><%= ll(:navigation, :focal_point, :financial_consistency) %></a></li>
			<li><a href="<%= exchange_rates_path %>"><%= ll(:navigation, :focal_point, :exchange_rates) %></a></li>
			<li><a href="<%= users_path %>"><%= ll(:navigation, :focal_point, :accounts) %></a></li>
		</ul>
	</li>

	<li>
		<div><a href="#"><%= ll(:navigation, :focal_point, :manuals) %>:</a></div>
		<ul>
			<li><a href="/manuals/odanic_data_entry.pdf"><%= ll(:navigation, :focal_point, :data_input_manual) %></a></li>
			<li><a href="/manuals/odanic_data_entry_glossary.pdf" onclick="window.open(this.href,'ODAnic Glossary','height=500,width=800,scrollbars=yes,resizable=yes');return false;"><%= ll(:navigation, :focal_point, :data_input_glossary) %></a></li>
			<li><a href="/manuals/dac_crs_manual.pdf"><%= ll(:navigation, :focal_point, :dac_crs_manual) %></a></li>
			<li><a href="/manuals/odanic_manual_10.pdf"><%= ll(:navigation, :focal_point, :country_manual) %></a></li>
		</ul>
	</li>

	<li>
		<div><a href="http://odadata.updatelog.com" target="_blank"><%= ll(:navigation, :focal_point, :contact) %></a></div>
	</li>

	<li>
		<div>
			<%= render :partial => "layouts/navigation/language_select" %>
		</div>
	</li>

	<li>
		<div><a href="/logout"><%= ll(:navigation, :logout) %></a></div>
	</li>
</ul>